.page__container--single {
	padding: 2.8rem 0;
}

.page__content.page__content--single {
	padding-top: 3.35rem;
}

.title_y.title_y--single {
	font-size: 2.25rem;
	font-weight: 400;
	line-height: normal;
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 1.9rem;
}

.page__text p,
.page__text ul,
.page__text ol,
.page__text h3,
.page__text h2 {
	max-width: 70rem;
}

.default__text {
	line-height: normal;
}

.default__text > * {
	margin-bottom: 1.16rem;
}

.page__text p.align-center {
	text-align: center;
	max-width: 100%;
}

.align-center img {
	max-width: 46.25rem;
	display: block;
	margin: 2rem auto 1.6rem;
	width: 100%;
}

.default__text h3 {
	font-weight: normal;
	font-size: 1.251rem;
}

.default__text ul,
.default__text ol {
	padding-left: 16px;
}

.default__text li {
	margin-bottom: 0.325rem;
}

.default__text li:last-child {
	margin-bottom: 0;
}

.default__text > *:last-child {
	margin-bottom: 0;
}

.page__pagination__2 {
	display: flex;
	justify-content: center;
	padding: 5.25rem 0 7.21rem;
	gap: 3.5rem;
}

.page__pagination__2 a {
	color: inherit;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem; /* 150% */
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.page__pagination__2 a:hover {
	opacity: 0.5;
}

.page__pagination__2 a:hover svg {
	transform: translate(-0.15rem, 0);
}

.page__pagination__2 a:last-child:hover svg {
	transform: translate(0.15rem, 0);
}

.loaded .page__pagination__2 svg {
	transition: 0.35s ease-in-out;
}

@media screen and (max-width: 750px) {
	.title_y.title_y--single {
		font-size: 20px;
		margin-bottom: 22px;
	}

	.page__content.page__content--single {
		padding-top: 2.25rem;
	}

	.default__text {
		line-height: 1.4;
		font-size: 1.15rem;
	}

	.default__text > * {
		margin-bottom: 24px;
	}

	.page__pagination__2 a {
		font-size: 1.15rem;
		gap: 2rem;
	}

	.page__pagination__2 {
		padding: 3rem 0 2rem;
		gap: 3rem;
	}
}

@media screen and (max-width: 550px) {
	.page__container--single {
		padding: 26px 0;
	}

	.page__pagination__2 {
		padding: 2.75rem 0 1.75rem;
	}
}
