.news_page__item__image__inner {
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
    padding-top: 75.05%;
    width: 100%;
}

.news_page__item__image {
    width: 25rem;
    display: flex;
}

.news_page__item {
    display: flex;
    align-items: flex-start;
    gap: 1.88rem;
    flex-wrap: wrap;
}

.news_page__item__info {
    flex: 1;
}

.news_page__item__image__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.news_page__item__title {
    font-family: Inter;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.2rem;
}

.news_page__item__title a {
    text-decoration: none;
    color: inherit;
}

.news_page__item__date {
    color: #164B51;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.news_page__list {
    margin-top: 4.1rem;
    display: flex;
    flex-direction: column;
    gap: 3.12rem;
    margin-bottom: 3.2rem;
}

.news_page__item__text {
    line-height: normal;
}

.news_page__item__text p {
    margin-bottom: 1.15rem;
}

.news_page__item__text p:last-child {
    margin-bottom: 0;
}

.page__container--news {
    padding-bottom: 7.2rem;
}

.news_page__item__title a:hover {
    color: #00d2e2;
}

.loaded .news_page__item__image__inner img {
    transition: 0.35s ease-in-out;
}

.news_page__item__image:hover img {
    transform: scale(1.025);
}




@media screen and (max-width:750px){

.news_page__item__image {
    width: 200px;
}

.news_page__item__title {
    font-size: 1.35rem;
}

.news_page__list {
    margin: 3rem 0;
}

.page__container--news {
    padding-bottom: 3.5rem;
}

}


@media screen and (max-width:550px){

.news_page__item__info {
    flex: none;
    width: 100%;
}

.news_page__item {
    flex-direction: column;
    gap: 26px;
}

.news_page__item__image {
    width: 100%;
}

.news_page__list {
    max-width: none;
    margin: 32px 0;
    gap: 4.5rem;
}

.news_page__item__image__inner {
    padding-top: 75%;
}

.news_page__item__text {
    line-height: 1.4;
    font-size: 1.05rem;
}

.news_page__item__title {
    line-height: 1.35;
}

.news_page__item__date {
    margin-bottom: 1rem;
}
}

