.content_404 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: url("data:image/svg+xml,%3Csvg width='382' height='472' viewBox='0 0 382 472' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M327.652 355.882C291.445 394.327 253.153 419.895 234.658 432.24L232.624 433.713C226.448 437.836 211.327 447.229 199.36 448.998C198.361 449.018 197.396 449.129 196.824 449.27L195.863 449.391C195.542 449.437 195.215 449.496 194.889 449.496H187.383C186.106 449.496 185.008 449.496 184.177 449.189L183.163 448.937C171.794 447.426 156.431 440.17 147.13 433.779C133.703 424.552 92.8377 396.474 54.0726 355.317C20.2954 319.447 20.4321 296.063 20.5326 278.933V269.235H134.618V317.959H244.023V207.788H149.086V159.064C149.086 140.633 168.825 123.828 190.497 123.807C190.513 123.807 190.524 123.807 190.538 123.807C201.038 123.807 211.956 127.793 220.497 134.743C228.932 141.614 233.774 150.479 233.774 159.064V163.911H361.021C361.122 184.812 361.037 248.428 360.991 276.692V279.499C361.067 297.677 361.158 320.303 327.652 355.882ZM43.4619 60.5224C105.88 21.8655 190.293 21.3781 191.137 21.3781C191.961 21.3781 274.313 21.8675 338.734 60.4731C361.865 75.405 361.228 110.357 360.921 127.243L360.937 133.174C360.951 138.73 360.977 147.112 360.986 154.221H242.894C241.446 144.314 235.613 134.664 226.399 127.164C217.485 119.908 206.364 115.361 195.28 114.338C193.697 114.19 192.113 114.117 190.538 114.117C190.524 114.117 190.503 114.117 190.487 114.117C163.384 114.145 139.61 135.147 139.61 159.064V217.481H234.547V308.266H144.092V259.544H20.5326V136.651C20.5326 134.517 20.5226 132.095 20.416 129.537C19.9236 109.775 19.0957 76.6981 43.4619 60.5224ZM370.466 278.37L370.472 276.708C370.516 245.695 370.617 172.142 370.466 159.009C370.466 151.241 370.436 140.026 370.416 133.145L370.396 127.334C370.737 108.765 371.441 70.1283 343.664 52.1968C276.835 12.1487 194.603 11.6855 191.137 11.6855C187.58 11.6855 103.278 12.1487 38.4219 52.3154C9.48383 71.5237 10.3982 107.994 10.9408 129.863C11.0473 132.354 11.0573 134.639 11.0573 136.651V259.544L11.0513 277.043L11.0573 278.931C10.9468 297.666 10.7961 323.327 47.24 362.036C86.7085 403.936 128.206 432.452 141.845 441.822C151.632 448.549 168.13 456.574 181.475 458.482C183.665 459.189 185.715 459.189 187.383 459.189H194.889C195.648 459.189 196.395 459.098 197.145 458.992L198.255 458.836C198.747 458.733 199.225 458.684 199.717 458.684L200.354 458.641C215.054 456.604 232.528 445.47 239.17 440.898L242.104 438.955L242.099 438.846C261.513 425.863 298.9 400.383 334.484 362.601C370.652 324.194 370.547 298.336 370.472 279.458L370.466 278.37Z' fill='black' fill-opacity='0.05'/%3E%3Cpath d='M189.133 271.706C192.859 271.706 195.88 268.626 195.88 264.827C195.88 261.028 192.859 257.948 189.133 257.948C185.408 257.948 182.387 261.028 182.387 264.827C182.387 268.626 185.408 271.706 189.133 271.706Z' fill='black' fill-opacity='0.05'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 32%;
	margin: 6.5rem 0 0;
	font-family: Inter,sans-serif;
	padding: 7.25rem 0 6.5rem;
}

.title_x--404 {
	font-size: 12.5rem;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 1.25rem;
	margin: 0;
	margin-bottom: -0.2rem;
}

.content_404__text {
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 1.5rem;
	margin-bottom: 8.45rem;
}

@media screen and (max-width: 750px) {
	.content_404__text {
		margin-bottom: 30px;
		font-size: 22px;
	}

	.title_x--404 {
		font-size: 125px;
		letter-spacing: 0;
		line-height: 1.15;
	}

	.content_404 {
		margin-top: 0;
		background-size: auto 90%;
		background-position: 50% 55%;
		padding: 80px 0;
	}
}
