// font


@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura Cyrillic Medium.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura Cyrillic Bold.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

