.brands__row {
    margin-top: 3.15rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-between;
}

.brands__row__name__list li {
    color: rgba(0, 0, 0, 0.50);
    font-size: 0.875rem;
    line-height: normal;
    position: relative;
    padding-left: 1.7rem;
}

.brands__row__name__list ul {
    list-style: none;
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

.brands__row__name__list li:before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.70);
    left: -0.225rem;
    border-radius: 50%;
    top: 0.275rem;
}

.brands__row__name__list li.active {
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
}

.brands__row__name__list li.active:before {
    transform: scale(1.5);
    box-shadow: 0 0 0.5rem 0 #000;
}

.brands__row__name__list {
    font-family: Inter;
    max-width: 18rem;
}

.brands__row__image__list {
    width: calc(100% - 18rem - 5rem);
    max-width: 50.5rem;
    padding-right: 6.5rem;
    margin-top: 0.65rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.brands__row__image__list__section {
    display: flex;
    flex-wrap: wrap;
    gap: 3.13rem;
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    padding-top: 2.5rem;
}

.brands__row__image__item__inner {
    position: relative;
    padding-top: 50%;
    width: 100%;
}

.brands__row__image__item__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brands__row__image__item {
    width: calc((100% - 6.26rem )/ 3);
}
