.page__container--product {
	padding: 3.35rem 0;
}

.pproduct__top {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	align-items: flex-start;
}

.pproduct__info__block {
	width: 36.7rem;
	border-radius: 1.25rem;
	background: linear-gradient(0deg, #000 -163.43%, #00d2e2 387.48%);
	color: #fff;
	padding: 1.87rem 1.25rem 2.55rem;
}

.pproduct__image__block {
	flex: 1;
}

.title_y.title_y--product {
	font-size: 1.5rem;
	text-transform: none;
	letter-spacing: 0;
	position: relative;
	padding-left: 1.625rem;
	font-weight: 700;
	margin-bottom: 1.8rem;
}

.page__content__product {
	margin-top: 3.35rem;
}

.pproduct__image__block__main__inner {
	position: relative;
	padding-top: 74.5%;
	width: 100%;
}

.pproduct__image__block__main__inner img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: scale-down;
}

.pproduct__image__block__main {
	position: relative;
	display: flex;
	margin-bottom: 0.55rem;
	cursor: pointer;
}

.pproduct__image__block__main__more {
	display: flex;
	position: absolute;
	left: 50%;
	margin: auto;
	bottom: 0.825rem;
	transform: translate(-50%, 0);
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.875rem;
	gap: 0.94rem;
	cursor: pointer;
}

.title_y.title_y--product:before {
	content: '';
	width: 0.375rem;
	height: 0.375rem;
	display: block;
	border-radius: 50%;
	position: absolute;
	right: 0.15rem;
	top: 50%;
	transform: translate(0, -50%);
	background: rgba(88, 252, 253, 0.5);
	position: absolute;
	left: 0;
	box-shadow: 0 0 0.25rem 0.025rem rgba(88, 252, 253, 0.5);
}

.pproduct__info__block__char__title {
	font-size: 1.125rem;
	margin-bottom: 1.05rem;
	font-weight: 500;
}

.pproduct__info__block__char ul {
	padding-left: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	line-height: 1.2;
}

.pproduct__info__block__price__title {
	font-size: 1.125rem;
	font-weight: 700;
}

.pproduct__info__block__char {
	margin-bottom: 1.7rem;
}

.pproduct__info__block__price__value {
	font-size: 1.5rem;
	font-weight: 700;
}

.pproduct__info__block__docs {
	border-top: 1px solid rgb(255 255 255 / 50%);
	padding-top: 3.15rem;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.pproduct__info__block__price {
	margin-bottom: 2.85rem;
}

.pproduct__info__block__docs__item__title {
	font-size: 1.125rem;
	line-height: 1.25;
	font-weight: 500;
	width: 8.775rem;
}

.pproduct__info__block__docs__item {
	display: flex;
	flex-wrap: wrap;
	gap: 1.87rem;
	align-items: center;
}

.pproduct__info__block__docs__item__x {
	flex: 1;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.3rem;
	color: inherit;
	text-decoration: none;
}

.pproduct__info__block__docs__item__x__title {
	font-size: 0.875rem;
	line-height: normal;
	opacity: 0.8;
	flex: 1;
}

.pproduct__info__block__docs__item__x__image {
	font-size: 0;
}

.pproduct__info__block__order__add_text {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.6875rem;
	line-height: normal;
}

.pproduct__info__block__order {
	margin-top: 4.85rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn_product_order {
	width: 100%;
	max-width: 20rem;
	justify-content: center;
	margin-bottom: 0.7rem;
	font-size: 1rem;
}

.pproduct__image__block__add {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.pproduct__image__block__add__item {
	height: 5.0625rem;
	font-size: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	width: calc((100% - 3rem) / 4);
}
.pproduct__image__block__add__item:hover img {
	transform: scale(1.05);
}

.loaded .pproduct__image__block__add__item img {
	transition: 0.35s ease-in-out;
}

.pproduct__image__block__add__item__inner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.pproduct__image__block__add__item__inner {
	height: 100%;
}

.pproduct__image__block__main:hover img {
	transform: scale(1.025);
}

.loaded .pproduct__image__block__main img {
	transition: 0.35s ease-in-out;
}

.pproduct__info__block__docs__item__x:hover {
	color: #b4f8ff;
}

.loaded .pproduct__image__block__main__more {
	transition: 0.35s ease-in-out;
}

.pproduct__image__block__main__more:hover {
	opacity: 0.5;
}

.pproduct__info__block__docs__item__x:hover
	.pproduct__info__block__docs__item__x__title {
	opacity: 1;
}
.title_y--product--mobile {
	display: none;
}

@media screen and (max-width: 1024px) {
	.pproduct__info__block {
		width: 35rem;
	}

	.pproduct__info__block__char ul {
		gap: 0.35rem;
		max-width: 550px;
	}

	.pproduct__top {
		gap: 1.5rem;
	}
}

@media screen and (max-width: 900px) {
	.pproduct__info__block {
		width: 100%;
	}

	.title_y--product--mobile {
		display: block;
		font-size: 20px;
	}

	.pproduct__image__block {
		width: 100%;
		flex: none;
		margin-bottom: 16px;
	}

	.pproduct__top {
		/* max-width: 600px; */
		margin: 0 auto;
		display: block;
	}

	.title_y.title_y--product:before {
		display: none;
	}

	.title_y.title_y--product {
		padding: 0;
		font-size: 2.25rem;
	}

	.page__content__product {
		margin-top: 2.5rem;
	}

	.pproduct__image__block__add__item {
		border: 1px solid rgba(219, 219, 219);
		height: auto;
	}

	.pproduct__image__block__add__item__inner {
		padding-top: 100%;
		position: relative;
		height: auto;
		width: 100%;
	}

	.pproduct__image__block__add__item__inner img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.pproduct__image__block__main {
		margin-bottom: 1rem;
		border: 1px solid rgba(219, 219, 219);
		max-height: 400px;
		height: 70vw;
	}

	.pproduct__image__block__main__more {
		bottom: 20px;
	}

	.pproduct__image__block__main__inner {
		height: 100%;
		padding-top: 0;
	}

	.title_y--product--desktop {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.title_y.title_y--product {
		font-size: 22px;
		line-height: 1.25;
		margin-bottom: 16px;
	}

	.page__container--product {
		padding: 26px 0;
	}

	.page__content__product {
		margin-top: 26px;
	}

	.pproduct__info__block__char__title {
		margin-bottom: 18px;
		font-size: 1.25rem;
	}

	.pproduct__info__block {
		padding: 22px 20px 30px;
	}

	.pproduct__info__block__char ul {
		gap: 0.85rem;
		padding-left: 12px;
		font-size: 1.05rem;
		line-height: 1.45;
	}

	.pproduct__info__block__char {
		margin-bottom: 30px;
	}

	.pproduct__info__block__price__value {
		font-size: 26px;
	}

	.pproduct__info__block__price__title {
		margin-bottom: 3px;
	}

	.pproduct__info__block__price {
		margin-bottom: 20px;
	}

	.pproduct__info__block__docs__item {
		flex-direction: column;
		align-items: flex-start;
		gap: 7px;
	}

	.pproduct__info__block__docs__item__title {
		margin-left: 47px;
		font-size: 1.12rem;
		pointer-events: none;
	}

	.pproduct__info__block__docs__item__x__image {
		margin-top: -24px;
		width: 32px;
	}

	.pproduct__info__block__docs {
		padding-top: 25px;
		gap: 30px;
	}

	.pproduct__info__block__order {
		margin-top: 35px;
	}

	.btn_product_order {
		max-width: 510px;
		margin-bottom: 0;
	}

	.pproduct__info__block__order__add_text {
		font-size: 11px;
		text-align: center;
		margin-top: 14px;
		line-height: 1.35;
	}
}
