.contact__block_1 {
	border-radius: 1.25rem;
	background: linear-gradient(0deg, #000 -163.43%, #00d2e2 387.48%);
	color: #fff;
	margin-top: 3.725rem;
	padding: 1.87rem 1.25rem;
	position: relative;
	padding-right: 19rem;
	padding-bottom: 3.2rem;
	margin-bottom: 3.15rem;
}

.contact__block_1__item__title {
	font-weight: 700;
	line-height: normal;
	margin-bottom: 1.175rem;
}

.contact__block_1__item__title--big {
	color: #fff;
	font-family: Inter,sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contact__block_1__adress {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.6324 24.1C9.4385 24.1 9.2565 24.0041 9.1473 23.8424L2.253 13.6203C1.4333 12.3176 1 10.8252 1 9.3069C1 4.7268 4.8696 1 9.6254 1C14.3819 1 18.2508 4.7268 18.2508 9.3069C18.2508 10.8217 17.8224 12.3057 17.0118 13.5972L10.1161 23.8424C10.0083 24.0041 9.8263 24.1 9.6324 24.1ZM9.6254 2.169C5.5143 2.169 2.169 5.3708 2.169 9.3069C2.169 10.6047 2.5365 11.8752 3.233 12.9826L9.631 22.4676L16.0332 12.9609C16.7199 11.8647 17.0825 10.6012 17.0825 9.3069C17.0818 5.3708 13.7365 2.169 9.6254 2.169Z' fill='%2358FCFD'/%3E%3Cpath d='M9.62483 13.1497C7.41353 13.1497 5.61523 11.4123 5.61523 9.27517C5.61523 7.13947 7.41353 5.40137 9.62483 5.40137C11.8361 5.40137 13.6351 7.13947 13.6351 9.27517C13.6351 11.4123 11.8354 13.1497 9.62483 13.1497ZM9.62483 6.57037C8.05893 6.57037 6.78493 7.78417 6.78493 9.27517C6.78493 10.7662 8.05893 11.9807 9.62483 11.9807C11.1907 11.9807 12.4654 10.7669 12.4654 9.27517C12.4654 7.78417 11.19 6.57037 9.62483 6.57037Z' fill='%2358FCFD'/%3E%3Cg filter='url(%23filter0_f_66_6816)'%3E%3Cpath d='M9.6324 24.1C9.4385 24.1 9.2565 24.0041 9.1473 23.8424L2.253 13.6203C1.4333 12.3176 1 10.8252 1 9.3069C1 4.7268 4.8696 1 9.6254 1C14.3819 1 18.2508 4.7268 18.2508 9.3069C18.2508 10.8217 17.8224 12.3057 17.0118 13.5972L10.1161 23.8424C10.0083 24.0041 9.8263 24.1 9.6324 24.1ZM9.6254 2.169C5.5143 2.169 2.169 5.3708 2.169 9.3069C2.169 10.6047 2.5365 11.8752 3.233 12.9826L9.631 22.4676L16.0332 12.9609C16.7199 11.8647 17.0825 10.6012 17.0825 9.3069C17.0818 5.3708 13.7365 2.169 9.6254 2.169Z' fill='%23B4F8FF'/%3E%3Cpath d='M9.62483 13.1497C7.41353 13.1497 5.61523 11.4123 5.61523 9.27517C5.61523 7.13947 7.41353 5.40137 9.62483 5.40137C11.8361 5.40137 13.6351 7.13947 13.6351 9.27517C13.6351 11.4123 11.8354 13.1497 9.62483 13.1497ZM9.62483 6.57037C8.05893 6.57037 6.78493 7.78417 6.78493 9.27517C6.78493 10.7662 8.05893 11.9807 9.62483 11.9807C11.1907 11.9807 12.4654 10.7669 12.4654 9.27517C12.4654 7.78417 11.19 6.57037 9.62483 6.57037Z' fill='%23B4F8FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_66_6816' x='0' y='0' width='19.25' height='25.1001' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_66_6816'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 1.3rem;
	padding-left: 2.3rem;
	padding-bottom: 0.275rem;
}

.contact__block_1__text {
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.45;
}

.contact__block_1__row {
	display: flex;
	flex-wrap: wrap;
}

.contact__block_1:after {
	background-image: url("data:image/svg+xml,%3Csvg width='228' height='282' viewBox='0 0 228 282' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M195.561 212.624C173.951 235.594 151.096 250.869 140.057 258.245L138.843 259.125C135.157 261.588 126.132 267.2 118.989 268.257C118.393 268.269 117.817 268.335 117.475 268.42L116.902 268.492C116.71 268.519 116.515 268.555 116.321 268.555H111.841C111.078 268.555 110.423 268.555 109.927 268.371L109.322 268.22C102.536 267.318 93.3664 262.983 87.8154 259.164C79.801 253.652 55.4105 236.876 32.2732 212.286C12.113 190.856 12.1945 176.885 12.2545 166.651V160.856H80.3472V189.967H145.646V124.144H88.9825V95.0336C88.9825 84.0219 100.764 73.9817 113.699 73.9691C113.709 73.9691 113.715 73.9691 113.723 73.9691C119.991 73.9691 126.507 76.3506 131.605 80.5032C136.639 84.6085 139.529 89.9046 139.529 95.0336V97.9298H215.478C215.538 110.417 215.488 148.425 215.46 165.312V166.988C215.505 177.849 215.56 191.367 195.561 212.624ZM25.9401 36.1594C63.1946 13.0635 113.577 12.7723 114.081 12.7723C114.573 12.7723 163.725 13.0647 202.176 36.1299C215.982 45.0511 215.601 65.9334 215.418 76.0221L215.428 79.5655C215.436 82.8854 215.452 87.8931 215.457 92.1402H144.973C144.109 86.2215 140.627 80.4559 135.128 75.9748C129.807 71.6397 123.17 68.923 116.554 68.3122C115.609 68.2238 114.664 68.1799 113.723 68.1799C113.715 68.1799 113.703 68.1799 113.693 68.1799C97.5163 68.1968 83.3272 80.7443 83.3272 95.0336V129.935H139.991V184.176H86.0019V155.066H12.2545V81.6432C12.2545 80.3678 12.2486 78.9211 12.1849 77.3926C11.8911 65.5855 11.3969 45.8237 25.9401 36.1594ZM221.115 166.314L221.119 165.321C221.145 146.792 221.205 102.847 221.115 95.0011C221.115 90.36 221.098 83.6595 221.085 79.5486L221.074 76.0763C221.277 64.9822 221.697 41.8985 205.118 31.1852C165.231 7.25819 116.15 6.98145 114.081 6.98145C111.958 6.98145 61.6416 7.25818 22.9319 31.2561C5.65997 42.7322 6.20574 64.5217 6.52959 77.5872C6.59315 79.0755 6.59914 80.4411 6.59914 81.6432V155.066L6.59555 165.521L6.59914 166.649C6.53318 177.843 6.44322 193.174 28.1951 216.301C51.7522 241.335 76.5205 258.371 84.6611 263.97C90.5024 267.989 100.35 272.783 108.314 273.923C109.622 274.346 110.845 274.346 111.841 274.346H116.321C116.773 274.346 117.219 274.291 117.667 274.228L118.33 274.135C118.623 274.073 118.909 274.044 119.202 274.044L119.583 274.018C128.357 272.802 138.786 266.149 142.75 263.418L144.501 262.257L144.499 262.192C156.086 254.435 178.4 239.212 199.639 216.639C221.227 193.692 221.163 178.243 221.119 166.964L221.115 166.314Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M112.886 162.333C115.11 162.333 116.913 160.493 116.913 158.223C116.913 155.953 115.11 154.113 112.886 154.113C110.663 154.113 108.859 155.953 108.859 158.223C108.859 160.493 110.663 162.333 112.886 162.333Z' fill='white' fill-opacity='0.05'/%3E%3C/svg%3E%0A");
	background-size: contain;
	height: 100%;
	width: 14rem;
	content: '';
	right: 2.5rem;
	top: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
}

.contact__block_1__item--big {
	margin-bottom: 0.625rem;
}

.contact__block_1__col {
	display: flex;
	flex-direction: column;
	gap: 1.725rem;
}

.contact__block_1__col--1 {
	border-right: 1px solid rgb(255 255 255 / 50%);
	width: 41.05%;
	padding-bottom: 3.45rem;
}

.contact__block_1__col--2 {
	padding-left: 3.1rem;
	width: 30.2%;
}

.contact__block_1__col--3 {
	flex: 1;
	padding-left: 3rem;
}

.contact__block_1__item--ghost_btn {
	margin-left: -1.5rem;
	margin-top: 1rem;
}

.contact__block_1__text__links a {
	color: inherit;
	text-decoration: none;
}

.contact__block_1__text__links {
	display: flex;
	flex-direction: column;
	gap: 0.025rem;
}

.btn_contact_x {
	padding: 0.85rem 1rem;
	font-size: 0.8726rem;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.contact__block_1__phone a {
	background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_66_6806)'%3E%3Cpath d='M6.46261 2.67897C5.79294 3.06755 5.2381 3.62651 4.85448 4.29904C4.47087 4.97156 4.27215 5.73366 4.27854 6.50788C4.50005 10.5944 5.8556 14.5384 8.1932 17.8977C10.5506 21.2434 13.7935 23.8663 17.5582 25.472C17.8196 25.5905 18.0949 25.6759 18.3775 25.7261C19.6386 25.8729 20.9065 25.5146 21.9042 24.7294C22.4771 24.3973 22.9033 23.8609 23.0971 23.2277L23.8068 21.0224C23.8854 20.7787 23.8727 20.5147 23.771 20.2797C23.6693 20.0447 23.4857 19.8547 23.2542 19.7451L19.0668 17.7628C18.8709 17.6702 18.6512 17.6402 18.4376 17.6769C18.2241 17.7135 18.027 17.815 17.8731 17.9676L16.4285 19.3995C16.3285 19.4945 16.2 19.5537 16.0629 19.5681C15.9257 19.5825 15.7877 19.5512 15.6702 19.4791C14.1322 18.3664 12.8119 16.9805 11.775 15.3906C10.6355 13.8724 9.78483 12.1577 9.26527 10.3319C9.2377 10.1968 9.25551 10.0564 9.31592 9.93247C9.37633 9.80854 9.47597 9.70802 9.59936 9.64651L11.5225 8.79452C11.7189 8.70227 11.8821 8.55172 11.9898 8.36338C12.0975 8.17505 12.1445 7.95808 12.1244 7.74205L11.6908 3.12967C11.6672 2.87463 11.5515 2.63691 11.3654 2.46094C11.1792 2.28498 10.9354 2.18281 10.6794 2.17353L8.28072 2.07145C7.61943 2.03702 6.97057 2.25416 6.46261 2.67897ZM7.12084 3.43779C7.44393 3.171 7.85803 3.04013 8.27576 3.0728L10.6513 3.17384C10.6628 3.17623 10.6733 3.1822 10.6813 3.19089C10.6892 3.19959 10.6942 3.21056 10.6956 3.22227L11.1271 7.83528C11.1276 7.85086 11.1242 7.86632 11.1171 7.88023L9.15284 8.75239C8.83284 8.91223 8.5743 9.17289 8.41709 9.49419C8.25988 9.81549 8.21272 10.1796 8.28289 10.5303C8.82306 12.494 9.72961 14.3379 10.9548 15.9649C12.0646 17.6726 13.4872 19.1551 15.1477 20.3343C15.3215 20.4405 15.5137 20.513 15.7142 20.548C15.9683 20.5914 16.229 20.5744 16.4752 20.4984C16.7215 20.4224 16.9464 20.2895 17.1317 20.1105L18.5755 18.6774C18.582 18.671 18.59 18.6665 18.5988 18.6641C18.6076 18.6617 18.6168 18.6617 18.6256 18.6639L18.6383 18.6671L22.8245 20.6502C22.8365 20.6559 22.846 20.6657 22.8513 20.6778C22.8567 20.6899 22.8574 20.7036 22.8535 20.7162L22.1546 22.8889C22.0425 23.2938 21.7773 23.6392 21.4151 23.8521L21.3295 23.9111C20.5439 24.5342 19.5488 24.8314 18.5502 24.7411C18.3496 24.7056 18.1542 24.6452 17.9686 24.5614C14.3659 23.0299 11.2629 20.522 9.00979 17.3207C6.77527 14.1104 5.48192 10.3398 5.27554 6.43388C5.29072 5.83419 5.46084 5.24865 5.76934 4.73418C6.07785 4.21972 6.51425 3.79385 7.0361 3.49799L7.12084 3.43779Z' fill='%2358FCFD'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1_66_6806)' filter='url(%23filter0_f_66_6806)'%3E%3Cpath d='M6.46261 2.67897C5.79294 3.06755 5.2381 3.62651 4.85448 4.29904C4.47087 4.97156 4.27215 5.73366 4.27854 6.50788C4.50005 10.5944 5.8556 14.5384 8.1932 17.8977C10.5506 21.2434 13.7935 23.8663 17.5582 25.472C17.8196 25.5905 18.0949 25.6759 18.3775 25.7261C19.6386 25.8729 20.9065 25.5146 21.9042 24.7294C22.4771 24.3973 22.9033 23.8609 23.0971 23.2277L23.8068 21.0224C23.8854 20.7787 23.8727 20.5147 23.771 20.2797C23.6693 20.0447 23.4857 19.8547 23.2542 19.7451L19.0668 17.7628C18.8709 17.6702 18.6512 17.6402 18.4376 17.6769C18.2241 17.7135 18.027 17.815 17.8731 17.9676L16.4285 19.3995C16.3285 19.4945 16.2 19.5537 16.0629 19.5681C15.9257 19.5825 15.7877 19.5512 15.6702 19.4791C14.1322 18.3664 12.8119 16.9805 11.775 15.3906C10.6355 13.8724 9.78483 12.1577 9.26527 10.3319C9.2377 10.1968 9.25551 10.0564 9.31592 9.93247C9.37633 9.80854 9.47597 9.70802 9.59936 9.64651L11.5225 8.79452C11.7189 8.70227 11.8821 8.55172 11.9898 8.36338C12.0975 8.17505 12.1445 7.95808 12.1244 7.74205L11.6908 3.12967C11.6672 2.87463 11.5515 2.63691 11.3654 2.46094C11.1792 2.28498 10.9354 2.18281 10.6794 2.17353L8.28072 2.07145C7.61943 2.03702 6.97057 2.25416 6.46261 2.67897ZM7.12084 3.43779C7.44393 3.171 7.85803 3.04013 8.27576 3.0728L10.6513 3.17384C10.6628 3.17623 10.6733 3.1822 10.6813 3.19089C10.6892 3.19959 10.6942 3.21056 10.6956 3.22227L11.1271 7.83528C11.1276 7.85086 11.1242 7.86632 11.1171 7.88023L9.15284 8.75239C8.83284 8.91223 8.5743 9.17289 8.41709 9.49419C8.25988 9.81549 8.21272 10.1796 8.28289 10.5303C8.82306 12.494 9.72961 14.3379 10.9548 15.9649C12.0646 17.6726 13.4872 19.1551 15.1477 20.3343C15.3215 20.4405 15.5137 20.513 15.7142 20.548C15.9683 20.5914 16.229 20.5744 16.4752 20.4984C16.7215 20.4224 16.9464 20.2895 17.1317 20.1105L18.5755 18.6774C18.582 18.671 18.59 18.6665 18.5988 18.6641C18.6076 18.6617 18.6168 18.6617 18.6256 18.6639L18.6383 18.6671L22.8245 20.6502C22.8365 20.6559 22.846 20.6657 22.8513 20.6778C22.8567 20.6899 22.8574 20.7036 22.8535 20.7162L22.1546 22.8889C22.0425 23.2938 21.7773 23.6392 21.4151 23.8521L21.3295 23.9111C20.5439 24.5342 19.5488 24.8314 18.5502 24.7411C18.3496 24.7056 18.1542 24.6452 17.9686 24.5614C14.3659 23.0299 11.2629 20.522 9.00979 17.3207C6.77527 14.1104 5.48192 10.3398 5.27554 6.43388C5.29072 5.83419 5.46084 5.24865 5.76934 4.73418C6.07785 4.21972 6.51425 3.79385 7.0361 3.49799L7.12084 3.43779Z' fill='%23B4F8FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_66_6806' x='-1' y='-1' width='29.8027' height='29.8027' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_66_6806'/%3E%3C/filter%3E%3CclipPath id='clip0_66_6806'%3E%3Crect width='24' height='24' fill='white' transform='translate(4.16797) rotate(10)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_66_6806'%3E%3Crect width='24' height='24' fill='white' transform='translate(4.16797) rotate(10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 1.5rem;
	color: inherit;
	text-decoration: none;
	padding-left: 2.3rem;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	padding-bottom: 0.35rem;
	padding-top: 0.15rem;
}

.contact__block_1__text a:hover {
	color: #b4f8ff;
}

.contact__block_2__title {
	font-family: Inter,sans-serif;
	font-size: 2.25rem;
	line-height: normal;
	font-weight: normal;
	margin-bottom: 1.7rem;
}

.contact__block_2 {
	padding: 0 1.25rem;
	margin-bottom: 3.25rem;
}

.contact__block_2__section__title {
	font-family: Inter,sans-serif;
	font-size: 1.125rem;
	margin-bottom: 0.4rem;
	font-weight: 700;
}

.contact__block_2__section {
	padding-left: 1.65rem;
	position: relative;
	margin-bottom: 1.9rem;
}

.contact__block_2__section:last-child {
	margin-bottom: 0;
}

.contact__block_2__section__content p {
	margin-bottom: 1.25rem;
}

.contact__block_2__section__content p:last-child {
	margin-bottom: 0;
}

.contact__block_2__section__content {
	line-height: normal;
}

.contact__block_2__section__content a {
	color: inherit;
	text-decoration: none;
}

.contact__block_2__section__content a:hover {
	color: #b4f8ff;
}

.contact__block_2__section:before {
	width: 0.375rem;
	height: 0.375rem;
	content: '';
	position: absolute;
	left: 0.025rem;
	background: #000;
	border-radius: 50%;
	top: 0.575rem;
	box-shadow: 0 0 0.35rem 0rem #000;
}

.contact__block__doc__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.contact__block__doc__item {
	border-radius: 0.625rem;
	background: #fff;
	box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
	display: inline-flex;
	align-items: flex-start;
	color: inherit;
	text-decoration: none;
	padding: 0.79rem 1.25rem;
	gap: 1.3rem;
	max-width: 17.05rem;
	width: 100%;
}

.contact__block_doc {
	padding: 0 1.25rem;
}

.contact__block__doc__item__icon svg {
	width: 2.5rem;
	height: auto;
}

.contact__block__doc__item__info__title {
	margin-bottom: 0.925rem;
}

.contact__block__doc__item__info__text {
	color: #164b51;
	font-size: 0.875rem;
}

.contact__block__doc__item__icon {
	padding-top: 0.5rem;
}

.contact__block__doc__item:hover {
	box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.075);
}

@media screen and (max-width: 1024px) {
	.contact__block_1__col--1 {width: 35%;}

	.contact__block_1 {
		padding-right: 20px;
		font-size: 13px;
	}

	.contact__block_1__row {
		max-width: 650px;
	}
}

@media screen and (max-width: 750px) {
	.contact__block_1__col--1 {
		width: 100%;
		border: none;
	}

	.contact__block_1__col--2 {
		padding-left: 0;
		width: 35%;
	}

	.contact__block_1__col--3 {
		max-width: 220px;
	}

	.contact__block_1:after {
		background-position: 0 10%;
		width: 12.5rem;
	}

	.contact__block_1 {
		margin-top: 35px;
		padding: 28px 22px 40px;
		margin-bottom: 35px;
	}

	.contact__block_2__section__content {
		line-height: 1.35;
	}
}

@media screen and (max-width: 550px) {
	.contact__block_1__col--3 {
		max-width: 100%;
		flex: none;
		width: 100%;
		padding: 0;
	}

	.contact__block_1__col--2 {
		padding-bottom: 23px;
		width: 100%;
	}

	.contact__block_1__item--ghost_btn {
		margin-left: 0;
	}

	.contact__block_1__item__title {
		font-size: 1.25rem;
	}

	.contact__block_1__col--1 {
		padding-bottom: 25px;
	}

	.contact__block_2 {
		padding: 0 0.75rem;
	}
	.contact__block__doc__item__info__text {
		font-size: 10px;
	}

	.contact__block__doc__item__info__title {
		margin-bottom: 0.75rem;
	}
}
