.ved__block_1 {
    margin-top: 3.1rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 6.25rem;
}

.ved__block_1__info {
    flex: 1;
    padding-top: 1.5rem;
}

.ved__block_1__form {
    width: 28.3rem;
    border-radius: 1.25rem;
    background: linear-gradient(0deg, #000 -163.43%, #00D2E2 387.48%);
    color: #fff;
    padding: 3.16rem 2.1rem 3.55rem 1.87rem;
}

.default_text {
    line-height: normal;
}

.default_text>* {
    margin-bottom: 1.2rem;
}

.default_text>*:last-child {
    margin-bottom: 0;
}

.default_text ul,.default_text ol {
    padding-left: 1.475rem;
}

.ved__block_1__form__title {
    font-family: Inter,sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    position: relative;
    padding-left: 1.55rem;
    margin-bottom: 1.85rem;
}

.ved__block_1__form__title:before {
    content: '';
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    left: -0.05rem;
    top: 0.75rem;
    background: #58FCFD;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 #58FCFD;
}

.ved__block_1__form__contact__text {color: rgba(255, 255, 255, 0.80);margin-bottom: 0.2rem;}

.ved__block_1__form__contact__phone a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
}

.ved__block_1__form__contact__phone a:hover {
    color:#b4f8ff
}

.ved__block_1__form__contact {
    margin-bottom: 3.4rem;
}

.ved__block_1__form__content__title {
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 0.825rem;
}

.ved__block_1__form__content form {
    display: flex;
    align-items: center;
    position: relative;
}

.ved__block_1__form__field {
    border-radius: 0.75rem;
    background: rgba(219, 219, 219, 0.20);
    border: none;
    flex: 1;
    padding: 0.95rem 1.175rem;
    padding-right: 11rem;
    color: #fff;
}

.ved__block_1__form__btn {
    width: 10rem;
    background: rgba(219, 219, 219, 0.20);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    justify-content: center;
}

.ved__block_1__form__content {
}