.animate__header {
    transform: translate(0,-120%);
    opacity: 0;
}
.animate_opacity_top{
    opacity: 0;
    transform: translate(0,0.75rem);
}
.animate_opacity{
    opacity: 0;
}
.animate__move_top {
    opacity: 0;
    transform: translate(0,2rem)
}

.hide{display: none;}