.modal__x {
	background: rgba(30, 30, 30, 0.7);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overscroll-behavior: contain;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	overflow: scroll;
    color:#fff;
	will-change: opacity;
}
.modal__x::-webkit-scrollbar {
	display: none;
}

.modal__x {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.modal__x.active {
	opacity: 1;
	pointer-events: all;
}
.modal__search.modal__x.active{transform: translate(0, 0);}

.loaded .modal__x {
	transition: .35s ease-in-out .35s;
}

.modal__menu__top {
	position: relative;
	text-align: center;
	font-size: 0;
	padding: 1.5rem 0 6.27rem;
}

.modal__search__inner {
	position: relative;
}

.modal__search__form form {
	border-radius: 0.75rem;
	background: rgb(71 71 71);
	display: flex;
	align-items: center;
	gap: 0;
	font-size: 0;
	padding: 0 1.1rem;
}

.modal__search__form__btn__search {
	background: transparent;
	appearance: none;
	border: none;
	border-radius: 0;
	width: 2rem;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.modal__menu__logo {
	display: inline-flex;
	width: 14.45rem;
}

.modal__menu__logo img {
	width: 100%;
}

.btn__close {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L20 20M2 20L20 2' stroke='white' stroke-width='3.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-size: 55%;
	width: 2.15rem;
	height: 2.15rem;
	background-repeat: no-repeat;
	background-position: 40%;
	background-color: transparent;
	border: none;
	border-radius: 0;
	appearance: none;
	position: absolute;
	right: -0.5rem;
	top: 2rem;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.modal__search__form__field {
	color: #dbdbdb;
	font-family: Inter,sans-serif;
	font-size: 1.25rem;
	background: transparent;
	border: none;
	appearance: none;
	border-radius: 0;
	flex: 1;
	padding: 1.38rem 0.75rem 1.275rem;
}


.modal__search__form__field:-webkit-autofill,
.modal__search__form__field:-webkit-autofill:hover,
.modal__search__form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: #dbdbdb;
  -webkit-box-shadow: 0 0 0px 40rem #474747 inset;
}

.modal__search__result__list {
	border-radius: 0.75rem;
	background: rgba(219, 219, 219, 0.2);
	opacity: 0;
	transform: translate(0, -1rem);
	pointer-events: none;
	margin-bottom: 2rem;
	position: absolute;
    width: 100%;
}

.modal__search__main {
    max-width: 31.25rem;
    margin: 0 auto;
    color: #fff;
    transition: 0.35s ease-in-out 0s;
    opacity: 0;
    transform: translate(0,-1rem);
}

.modal__search__form {
	margin-bottom: 0.65rem;
}

.modal__search__form__btn__search svg {
	width: 67.5%;
	height: auto;
}

.loaded .modal__search__form__btn__search {
	transition: 0.25s;
}


.modal__search__form__btn__search:hover {
	opacity: 0.5;
}

.modal__search__form__btn__search.modal__search__form__btn__search--reset svg {
	width: 52.5%;
}

.loaded .btn__close {
	transition: 0.25s;
}

.btn__close:hover {
	opacity: 0.5;
}

.modal__search__result__list.active {
	opacity: 1;
	transform: translate(0, 0);
	pointer-events: all;
}

.loaded .modal__search__result__list {
	transition: 0.35s ease-in-out;
}

.modal__search__result__block__title {
	line-height: normal;
	color: #dbdbdb;
	font-family: Inter,sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: 1.35rem;
}

.modal__search__result__list__inner {
	padding: 1.63rem 1.5rem 1.63rem 1.63rem;
}



.modal__search__result__block__list a {
	font-family: Inter,sans-serif;
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.94rem;
}

.modal__search__result__block__list ul {
	list-style: none;
	gap: 0.675rem;
	display: flex;
	flex-direction: column;
}

.modal__search__result__block__list {
	display: flex;
}

.modal__search__result__block__list a:hover span {
	color:#B4F8FF
}

.loaded .modal__search__result__block__list a span {
	transition: 0.25s;
}

.modal__search__result__block__list a img {
	width: 2.8125rem;
	height: 2.8125rem;
	border-radius: 0.5rem;
}

.modal__search__result__block__list a span {
	flex: 1;
}

.modal__search__result__exist__list {
	display: flex;
	flex-direction: column;
	gap: 1.775rem;
}

.modal__search__result__list__bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.875rem;
}

.loaded .modal__x.active {
    transition-delay: 0s;
}

.modal__x.active .modal__search__main {
    transition-delay: 0.35s;
    opacity: 1;
    transform: translate(0,0);
}

.modal__search__result__list__title {
    font-size: 1.625rem;
    margin-bottom: 1.15rem;
}

.modal__search__result__list__text {
    font-size: 1.125rem;
}

.modal__search__result__list__none {
    color: #DBDBDB;
    font-family: Inter,sans-serif;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 2.25rem 0 4.5rem;
}

.modal__menu__btn_close--search.btn__close {
    left: 0;
    right: auto;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.85rem;
}
.loaded .modal__menu__btn_close--search.btn__close path {
	transition: 0.25s;
}
.modal__menu__btn_close--search.btn__close:hover path {
    fill: #58fcfd;
}
.modal__menu__btn_close--search.btn__close svg {
    width: 60%;
    height: auto;
}

@media screen and (max-width: 750px) {
	.modal__menu__top {
		padding: 16px 0 25px;
	}
	.modal__menu__logo {
		width: 150px;
	}
	.btn__close {
		right: 0;
		top: 20px;
		background-size: 45%;
	}
	.modal__search__main {
		padding-top: 15px;
	}
}

@media screen and (max-width: 550px) {
	.btn__close {
		top: 16px;
	}
	.modal__menu__top {
		padding: 12px 0 25px;
	}

	.modal__search__result__block__list ul {
		gap: 15px;
	}

	.modal__search__result__block__list a {
		line-height: 1.5;
	}

	.modal__search__result__exist__list {
		gap: 2.15rem;
	}

	.modal__search__result__list__bottom .btn_glow {
		width: 100%;
		justify-content: center;
		max-width: 340px;
	}


}


