.modal__menu {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
}

.modal__menu__section__title {
	color: #b4f8ff;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 2.35rem;
}

.modal__menu__list {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.modal__menu__section ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.045rem;
}

.modal__menu__content {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5rem;
}

.modal__menu__contact {
	width: 22.175rem;
	border-left: 1px solid rgba(219, 219, 219, 0.25);
	padding-left: 2.4rem;
}

.modal__menu__section ul a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}

.modal__menu__contact__item--link a {
	color: inherit;
	text-decoration: none;
}

.modal__menu__contact__item {
	margin-top: 1.175rem;
}

.modal__menu__contact__item--link a:hover {
	color: #b4f8ff;
}

.modal__menu__section ul a:hover {
	color: #b4f8ff;
}

.modal__menu__section.modal__menu__section--1 {
	width: 25%;
	margin-right: 1.2%;
}

.modal__menu__section.modal__menu__section--2 {
	width: 19.8%;
	margin-right: 0.6%;
}

.modal__menu__section.modal__menu__section--3 {
	width: 27.5%;
	margin-right: 2.25%;
}

ul.modal__menu__section__menu--blue a {
	color: #b4f8ff;
	font-size: 1rem;
	font-weight: 600;
}

.modal__menu__btn__link {
	margin-top: 2.4rem;
	padding: 0.85rem 1.575rem;
}

.modal__menu__content {
	opacity: 0;
	transform: translate(0, -1rem);
}

.loaded .modal__menu__content {
	transition: 0.35s ease-in-out 0s;
}

.active.modal__menu .modal__menu__content {
	opacity: 1;
	transform: translate(0, 0rem);
}
.active.modal__menu .modal__menu__content {
	transition-delay: 0.35s;
}

ul.modal__menu__section__menu--blue a:hover {
	color: #58fcfd;
}

.modal__menu__section__title a:hover {
	color: #58fcfd;
}

.modal__menu__section__title a {
	color: inherit;
	text-decoration: none;
}

.modal__menu__top .header__search {
	left: 0rem;
	top: 2.15rem;
	position: absolute;
	display: none;
	width: auto;
}

@media screen and (max-width: 1024px) {
	.modal__menu__contact {
		width: 100%;
		padding: 0;
		border: none;
		border-top: 1px solid rgba(219, 219, 219, 0.25);
		margin-top: 32px;
		padding-top: 25px;
	}

	.modal__menu__contact__info {
		max-width: 500px;
	}

	.modal__menu__section.modal__menu__section--1,
	.modal__menu__section.modal__menu__section--2,
	.modal__menu__section.modal__menu__section--3,
	.modal__menu__section.modal__menu__section--4 {
		flex: 1;
		width: auto;
		margin: 0;
	}
	.modal__menu__section.modal__menu__section--4 {
		max-width: 130px;
	}

	.modal__menu__list {
		gap: 35px 16px;
	}
}
@media screen and (max-width: 750px) {
	.modal__menu__section.modal__menu__section--4 {
		max-width: none;
	}
	.modal__menu__content {
		padding-top: 16px;
		padding-bottom: 33px;
		flex-direction: column;
	}

	.modal__menu__section.modal__menu__section--1,
	.modal__menu__section.modal__menu__section--2,
	.modal__menu__section.modal__menu__section--3,
	.modal__menu__section.modal__menu__section--4 {
		width: calc(50% - 8px);
		flex: none;
	}

	.modal__menu__section.modal__menu__section--1 {
		order: -1;
	}

	.modal__menu__section.modal__menu__section--3 {
		order: -1;
	}

	.modal__menu__section ul {
		gap: 8.5px;
	}

	.modal__menu__list {
		max-width: 500px;
		margin: 0 auto;
		width: 100%;
	}

	.modal__menu__section__title {
		margin-bottom: 22px;
		font-size: 15px;
	}

	.modal__menu__section.modal__menu__section--4 {
		order: -1;
	}

	.modal__menu__contact {
		font-size: 12.5px;
		max-width: 500px;
		margin: 32px auto 0;
	}

	.modal__menu__contact__item {
		margin-top: 16px;
	}
}

@media screen and (max-width: 550px) {
	.modal__menu__top .header__search {
		display: flex;
		top: 1.65rem;
		left: auto;
		width: auto;
		justify-content: center;
		align-items: center;
	}
	.modal__menu__top {
		max-width: 500px;
		margin: 0 auto;
	}
	.header__search__btn svg {
		width: 1.5rem;
	}
	.modal__menu__btn_close--search.btn__close {
		top: 1.425rem;
		left: -0.25rem;
	}
	.modal__search {
		transform: translate(100%, 0);
	}


	.loaded .modal__search {
		transition: 0.5s ease-in-out 0.35s;
	}


	.loaded .modal__search {
		transition-delay: 0s;
	}

	.modal__search__main {
		transition-delay: 0s;
		transform: translate(10px, 0rem);
	}

	.modal__x.active .modal__search__main {
		transition-delay: 0.35s;
	}

}
