.loader_x {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(118deg, #00d2e2 -29.34%, #000 70.52%);
	z-index: 15;
	opacity: 0;
	transform: translate(0, -100%);
	pointer-events: none;
}
.loader_x.visible {
	opacity: 1;
	transform: translate(0, 0);
	pointer-events: all;
}

.loaded .loader_x {
	transition: 0.35s ease-in-out;
}

.loader_x.showed {
	transform: translate(0, -100%);
}

.loader_x__content {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loader_x__content svg {
	height: auto;
	width: 21rem;
}

@media screen and (max-width: 750px) {
	.loader_x__content svg {
		width: 15rem;
	}

	.loader_x {
		background: linear-gradient(118deg, #00d2e2 -29.34%, #000 85.52%);
	}
}
