.main_footer {
	background: #000000;
	color: #fff;
	font-family: Inter,sans-serif;
	padding: 4.25rem 0 5.35rem;
}

.footer_menu__block__list a {
	font-family: Inter,sans-serif;
	color: #fff;
	text-decoration: none;
}

.footer_row {
	display: flex;
	flex-wrap: wrap;
}

.footer_menu__block__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 2.315rem;
}

.footer_col--1 {
	width: 19.5%;
	margin-right: 10.9%;
	margin-top: -0.35rem;
	padding-bottom: 6rem;
}

.footer_logo {
	font-size: 0;
	display: inline-flex;
	margin-bottom: 1.75rem;
	width: 12.65rem;
}

.footer_contact__phone a {
	color: inherit;
	font-size: 1.38rem;
	font-weight: 600;
	text-decoration: none;
}

.footer_contact__phone a:hover {
	color: #b4f8ff;
}

.color--blue {
	color: #b4f8ff;
}

.footer_contact__phone {
	margin-bottom: 1.375rem;
}

.footer_contact__mail a {
	color: inherit;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
}

.footer_contact__mail {
	margin-bottom: 0.75rem;
}

.footer_contact__adress {
	line-height: 1.225;
	margin-bottom: 2.25rem;
}

.footer_contact__wa__link {
	color: #b4f8ff;
	font-weight: 700;
	line-height: 1.5rem; /* 171.429% */
	text-align: center;
	display: inline-flex;
	align-items: center;
	width: 98.5%;
	justify-content: center;
	padding: 0.8rem;
	border-radius: 0.75rem;
	border: 2px solid #58fcfd;
	font-size: 0.875rem;
	font-family: Inter,sans-serif;
	position: relative;
	background: #000;
}

.footer_contact__wa__link:hover {
	background: #58fcfd;
	color: #111;
}

.footer_contact__wa__link:after {
	z-index: 1;
	border-radius: 0.75rem;
	border: 2px solid #58fcfd;
	filter: blur(3.5px);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
}

.footer_bottom {
	font-size: 0.625rem;
	position: absolute;
	bottom: 2.35rem;
	left: 1.25rem;
}

.footer_bottom a {
	color: inherit;
}

.main_footer .container {
	position: relative;
}

.footer_copyright {
	margin-bottom: 1.2rem;
}

.footer_menu__block__list ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.725rem;
}

.footer_col--2 {
	margin-right: 2.2%;
	width: 17%;
}

.footer_col--3 {
	width: 19%;
	margin-right: 2.65%;
}

.footer_col--4 {
	width: 17.5%;
}

.footer_col--5 {
	width: 11.25%;
}

.footer_menu__block__list--color_blue a {
	color: #b4f8ff;
	font-weight: 600;
}

.footer_bottom a:hover {
	text-decoration: none;
	color: #B4F8FF;
}

.footer_menu__block__list--color_blue a:hover {
	color: inherit;
}


.footer_menu__block__title.color--blue a {
    color: inherit;
    text-decoration: none;
}

.footer_menu__block__title.color--blue a:hover {    color: #58fcfd;}

.footer_menu__block__list a:hover {
	color: #B4F8FF;
}
.footer_menu__block__list--color_blue a:hover{color:#58FCFD}

.footer_contact__mail a:hover {
	color: #b3f8ff;
}

.footer_logo img {
	width: 100%;
}

@media screen and (max-width: 1024px) {


	.main_footer {
		padding: 4rem 1px 3.5rem;
	}

	.footer_col--1 {
		width: 100%;
		margin-right: 0;
		padding-bottom: 0;
	}

	.footer_contact__wa__link {
		max-width: 260px;
		font-size: 12.5px;
		padding: 11px;
	}

	.footer_col--2,
	.footer_col--3,
	.footer_col--4,
	.footer_col--5 {
		flex: 1;
		margin: 0;
	}

	.footer_row {
		gap: 45px 20px;
	}

	.footer_bottom {
		margin-top: 32px;
		position: static;
		font-size: 0.75rem;
	}

	.footer_copyright {
		margin-bottom: 0.75rem;
	}
}

@media screen and (max-width: 750px) {
	.footer_col--2,
	.footer_col--3,
	.footer_col--4,
	.footer_col--5 {
		flex: none;
		width: calc(50% - 10px);
	}

	.main_footer {
		padding: 44px 0 32px;
	}

	.footer_contact__mail {
		margin-bottom: 7px;
	}

	.footer_contact__adress {
		margin-bottom: 22px;
	}

	.footer_row {
		gap: 30px 16px;
	}

	.footer_menu__block__title {
		margin-bottom: 20px;
	}

	.footer_menu__block__list ul {
		font-size: 12.5px;
		gap: 9px;
	}

	.footer_col--2,
	.footer_col--3,
	.footer_col--4,
	.footer_col--5 {
		width: calc(50% - 8px);
	}

	.footer_bottom {
		margin-top: 28px;
	}
}
