.header__logo {
	display: inline-flex;
	align-items: center;
}

.header_btn_menu {
	align-items: center;
	justify-content: center;
	width: 1.75rem;
	height: 1.75rem;
	position: relative;
	background: transparent;
	border: none;
	appearance: none;
	border-radius: 0;
	display: flex;
	margin-right: 0.175rem;

	span {
		background: #fff;
		position: absolute;
		margin: auto;
		right: 0;
		top: 0;
		bottom: 0;
		transition: 0.5s;
		height: 0.125rem;
		border-radius: 0;

		&:nth-child(1) {
			transform: translate(0, -0.5rem);
			width: 100%;
		}

		&:nth-child(2) {
			transform: translate(0, 0);
			width: 75%;
		}

		&:nth-child(3) {
			transform: translate(0, 0.5rem);
			width: 42%;
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: translate(0, 0) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translate(0, 0) rotate(-45deg);
				width: 100%;
			}
		}
	}
}

.loaded .header_main:before {
	transition: 0.25s;
}

.header_main.header_show:before {
	opacity: 1;
}

.header_main .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	position: relative;
}

.header_main {
	padding: 1.5rem 0 1.425rem;
	color: #fff;
	background-image: url('../images/components/bg_header.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	background-color: #111;

}

.header__info {
	display: flex;
	align-items: center;
	gap: 3.9rem;
	width: 16rem;
	justify-content: flex-end;
}

.header__search__btn {
	background: transparent;
	display: flex;
	align-items: center;
	border: none;
	appearance: none;
	border-radius: 0;
	color: #fff;
	gap: 1rem;
}

.header__info__phone a {
	color: inherit;
	text-decoration: none;
	font-family: Inter,sans-serif;
}

.header__info__phone a:hover {
	color: #b4f8ff;
}

.header__search {
	width: 16rem;
}

.header__logo {
	font-size: 0;
	width: 14.5rem;
	text-align: center;
}

.loaded .header__search__btn {
	transition: 0.25s;
}

.header__search__btn:hover {
	color: #b4f8ff;
}

.loaded .header__search__btn path {
	transition: 0.25s ease-in-out;
}
.header__search__btn:hover path {
	stroke: #b4f8ff;
}

.header_main:before {
	top: 0;
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(30, 30, 30, 0.01);
	-webkit-backdrop-filter: blur(0.3125rem);
    backdrop-filter: blur(0.3125rem);
}

.header__search__btn svg {
	width: 2rem;
	height: auto;
}

.header__logo img {
	width: 100%;
}

.header_main.header_hide {
	transform: translate(0, -100%);
}

.loaded .header_main {
	transition: 0.35s ease-in-out;
}

@media screen and (max-width: 750px) {
	.header__info__phone a {
		background-size: 50%;
		font-size: 0;
		width: 2.75rem;
		height: 2.75rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 482.6 482.6' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='M98.339 320.8c47.6 56.9 104.9 101.7 170.3 133.4 24.9 11.8 58.2 25.8 95.3 28.2 2.3.1 4.5.2 6.8.2 24.9 0 44.9-8.6 61.2-26.3.1-.1.3-.3.4-.5 5.8-7 12.4-13.3 19.3-20 4.7-4.5 9.5-9.2 14.1-14 21.3-22.2 21.3-50.4-.2-71.9l-60.1-60.1c-10.2-10.6-22.4-16.2-35.2-16.2-12.8 0-25.1 5.6-35.6 16.1l-35.8 35.8c-3.3-1.9-6.7-3.6-9.9-5.2-4-2-7.7-3.9-11-6-32.6-20.7-62.2-47.7-90.5-82.4-14.3-18.1-23.9-33.3-30.6-48.8 9.4-8.5 18.2-17.4 26.7-26.1 3-3.1 6.1-6.2 9.2-9.3 10.8-10.8 16.6-23.3 16.6-36s-5.7-25.2-16.6-36l-29.8-29.8c-3.5-3.5-6.8-6.9-10.2-10.4-6.6-6.8-13.5-13.8-20.3-20.1-10.3-10.1-22.4-15.4-35.2-15.4-12.7 0-24.9 5.3-35.6 15.5l-37.4 37.4c-13.6 13.6-21.3 30.1-22.9 49.2-1.9 23.9 2.5 49.3 13.9 80 17.5 47.5 43.9 91.6 83.1 138.7zm-72.6-216.6c1.2-13.3 6.3-24.4 15.9-34l37.2-37.2c5.8-5.6 12.2-8.5 18.4-8.5 6.1 0 12.3 2.9 18 8.7 6.7 6.2 13 12.7 19.8 19.6 3.4 3.5 6.9 7 10.4 10.6l29.8 29.8c6.2 6.2 9.4 12.5 9.4 18.7s-3.2 12.5-9.4 18.7c-3.1 3.1-6.2 6.3-9.3 9.4-9.3 9.4-18 18.3-27.6 26.8l-.5.5c-8.3 8.3-7 16.2-5 22.2.1.3.2.5.3.8 7.7 18.5 18.4 36.1 35.1 57.1 30 37 61.6 65.7 96.4 87.8 4.3 2.8 8.9 5 13.2 7.2 4 2 7.7 3.9 11 6 .4.2.7.4 1.1.6 3.3 1.7 6.5 2.5 9.7 2.5 8 0 13.2-5.1 14.9-6.8l37.4-37.4c5.8-5.8 12.1-8.9 18.3-8.9 7.6 0 13.8 4.7 17.7 8.9l60.3 60.2c12 12 11.9 25-.3 37.7-4.2 4.5-8.6 8.8-13.3 13.3-7 6.8-14.3 13.8-20.9 21.7-11.5 12.4-25.2 18.2-42.9 18.2-1.7 0-3.5-.1-5.2-.2-32.8-2.1-63.3-14.9-86.2-25.8-62.2-30.1-116.8-72.8-162.1-127-37.3-44.9-62.4-86.7-79-131.5-10.3-27.5-14.2-49.6-12.6-69.7z' fill='%23ffffff' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	}

	.header__search {
		width: 80px;
	}

	.header__info {
		width: 80px;
		gap: 11px;
	}

	.header__logo {
		width: 150px;
	}

	.header_main {
		padding: 16px 0;
	}
}
@media screen and (max-width: 550px) {
	.header__logo {
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
	}

	.header__search {
		display: none;
	}

	.header__info {
		width: 100%;
		justify-content: space-between;
	}

	.header_main .container {
		gap: 25px;
	}

	.header__info__phone {
		font-size: 0;
	}

	.header__info__phone {
		margin-top: 1px;
		margin-left: -7.5px;
	}

	.header_main {
		padding: 12px 0 14px;
	}
}
