html {
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html * {
	max-height: 1000000px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

a[href^='http']:empty::before {
	content: attr(href);
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

label,
button,
select {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
	outline: none;
}

a,
button {
	cursor: pointer;
}

html {
	font-size: 16px;
	font-size: 1.11025vw;
}

html,
body {
	scrollbar-gutter: stable;
}

body {
	font-size: 1rem;
	font-family: $font;
	line-height: 1.4;
	color: $textColor;
	padding-top: 6.25rem;
}
@media screen and (max-width: 1024px) {
	body {
		padding-top: 75px;
	}
}
@media screen and (max-width: 750px) {
	body {
		padding-top: 66.5px;
	}
}
@media screen and (max-width: 550px) {
	body {
		padding-top: 60px;
	}
}
body.body-lock {
	overflow: hidden!important;
    touch-action: none;
    height: auto!important;
}

.loaded a {
	transition: 0.25s ease-in-out;
}

.loaded .btn_default {
	transition: 0.25s ease-in-out;
}

.btn_default {
	appearance: none;
	border-radius: 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.hide_scrollbar::-webkit-scrollbar {
	display: none;
}

.hide_scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page__wrap {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 1.25rem;
	max-width: 78.75rem;
}

.title_x {
	font-family: Inter, sans-serif;
	font-size: 2.625rem;
	font-style: normal;
	font-weight: 600;
	line-height: 184.523%;

	&--center {
		text-align: center;
	}
}

.form_field {
	position: relative;
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&--btn {
		margin-bottom: 0;

		button {
			width: 100%;
			justify-content: center;
			font-weight: 500;
			font-size: 17px;
		}
	}

	input {
		width: 100%;
		padding: 14px 20px;
		line-height: 1;
		border: 1px solid rgba($textColor, 0.3);
		border-radius: 0px;
		-webkit-appearance: none;
	}

	textarea {
		width: 100%;
		padding: 14px 20px;
		line-height: 1.5;
		border: 1px solid rgba($textColor, 0.3);
		border-radius: 0px;
		resize: vertical;
		min-height: 100px;
		-webkit-appearance: none;
	}
}

.btn_x {
	border-radius: 0.75rem;
	color: #fff;
	color: #fff;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5rem; /* 150% */
	padding: 1rem 1.65rem;
	position: relative;
	overflow: hidden;
}

.btn_x span {
	position: relative;
}

.btn_x:before {
	background: linear-gradient(90deg, #000 -140%, #00d2e2 275.74%);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
}

.loaded .btn_x:before {
	transition: 0.25s;
}

.btn_x:hover:before {
	transform: scale(5);
}

.breadcrumbs ul {
	list-style: none;
	display: flex;
	font-size: 0.75rem;
	flex-wrap: wrap;
}

.breadcrumbs a {
	color: inherit;
	text-decoration: none;
}

.breadcrumbs a:after {
	width: 0.45rem;
	height: 0.075rem;
	background: #000;
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.65rem;
}

.page__container {
	padding: 2.8rem 0;
}

.page__container--default {
	padding: 6.25rem 0 10rem;
}

.breadcrumbs a:hover {
	opacity: 0.5;
}

.btn_glow {
	overflow: hidden;
	display: inline-flex;
	color: #b4f8ff;
	font-family: Inter, sans-serif;
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 1.5rem;
	border-radius: 0.75rem;
	border: 0.1rem solid #58fcfd;
	position: relative;
	padding: 0.85rem 1.75rem;
}
.btn_glow:after {
	z-index: 1;
	border-radius: 0.75rem;
	border: 2px solid #58fcfd;
	filter: blur(3.5px);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
}

.btn_glow:hover {
	background: #58fcfd;
	color: #333;
}

.title_y {
	font-family: Inter, sans-serif;
	font-size: 4rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	margin: 0;
}
@media screen and (min-width: 1650px) {
	html {
		font-size: 17.7778px;
	}
}
@media screen and (max-width: 1024px) {
	html {
		font-size: 12px;
	}

	.container {
		max-width: 100%;
		padding: 0 60px;
	}
	.title_x {
		font-size: 2.35rem;
		line-height: 1.25;
	}
	.title_y {
		font-size: 3.35rem;
		letter-spacing: 0.15rem;
	}
}

@media screen and (max-width: 750px) {
	.container {
		max-width: 650px;
		padding: 0 15px;
	}
	.breadcrumbs ul {
		font-size: 12px;
		gap: 0.2rem 0;
	}

	.page__container {
		padding: 24px 0;
	}
	.page__container--default {
		padding: 3.5rem 0;
	}
	.title_x {
		font-size: 2.15rem;
	}
	.title_y {
		font-size: 32px;
		letter-spacing: 0.1rem;
	}
}

@media screen and (max-width: 550px) {
	.page__container--default {
		padding: 36px 0 75px;
	}
	.title_y {
		font-size: 26px;
		letter-spacing: 0;
	}
}
