.modal__default {
    display: none;
    padding: 0;
    max-width: 450px;
    width: 100%;
    color: $textColor;
}

.modal__inner {
    padding: 32px 50px;
}

.modal__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.25
}