body.home {
	background: #0f0f0f;
	color: #fff;
	padding-top: 0;
}

.header_main.header_main--home:before {
	opacity: 0;
}

.header_main.header_main--home.header_show:before {
	opacity: 1;
}

.home_hero__title {
	font-family: 'Inter', sans-serif;
	font-size: 3.875rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.3875rem;
	text-transform: uppercase;
	line-height: 1.235;
}
.home_hero__title  svg {
    margin-right: 4.025rem;
	fill: #fff;
}
.home_hero__title svg line {
    stroke: #fff;
}
.loaded .glitch__main__letter path{
	transition: 0.35s ease-in-out;
}
.glitch__main__letter path{
	opacity: 0;
	transform: translate(0,0.25rem);
}
.glitch__main__letter path.show{
	opacity: 1;
	transform: translate(0,0rem);
}

.home_hero__title__small__text {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.0725rem;
    position: absolute;
    top: 9.35rem;
    right: 6.725rem;
	opacity: 0;
	transform: translate(0,-0.75rem);
}

.loaded .home_hero__title__small__text{
	transition: 0.35s ease-in-out;
}
.home_hero__title__small__text.show{opacity: 1;transform: translate(0,0rem);}

.loaded .home_hero__title__line{transition: 0.35s ease-in-out;}
.home_hero__title__line{opacity: 0;transform: translate(2.5rem,0.75rem);}
.home_hero__title__line.show{opacity: 1;transform: translate(0rem,0.75rem);}
.home_hero__title__line.show2{opacity: 1;transform: translate(0rem,0);}

.glitch__animation g{
    opacity: 0;
}
.glitch__animation g.show{opacity: 1;}
.glitch__main.hide{opacity: 0;}
.home_hero__title.opacity_0 div {
	opacity: 0;
}
.glitch__animation g.show g {
    opacity: 1;
}
.glitch__animation {
	pointer-events: none;
}
.home_hero__title.opacity_0 div.show {
	opacity: 1;
}

.header_main.header_main--home {
	background: transparent;
}

.home_hero__content {
	position: relative;
	padding: 27.5rem 0 7.5rem;
}

.home_hero__image {
	position: absolute;
	right: 0;
	top: 8.25rem;
	font-size: 0;
	width: 32.825rem;
	pointer-events: none;
	z-index: 0;
}

.home_hero__image img {
	width: 100%;
}

.home_hero {
	position: relative;
	background: url(../images/pages/home/bg_hero.png);
	background-repeat: no-repeat;
	background-position: 50% 95%;
	background-size: cover;
}

.page__container.page__container--home {
	padding: 0;
}

.home_hero__info {
	position: relative;
	z-index: 1;
}

.home_about__image__decore {
	position: absolute;
	right: 11.65rem;
	z-index: -1;
	max-width: 37rem;
	width: 100%;
	top: 5rem;
}

.home_about .container {
	position: relative;
}

.home_about {
	padding: 6.9rem 0 12.25rem;
}

.home_about__image__decore img {
	width: 100%;
}

.home_about__info__item__glow {
	color: #b4f8ff;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem; /* 150% */
	border-radius: 1.25rem;
	border: 1px solid rgb(156 242 252 / 20%);
	background: rgba(30, 30, 30, 0.5);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	padding: 1.76rem 2.9rem 1.76rem 2.5rem;
}

.home_about__info__item {
	position: relative;
	z-index: 1;
}

.home_about__info__item--2 {
	position: absolute;
	right: 1.5rem;
	top: 0.85rem;
	max-width: 27rem;
}

.home_about__info__item--3 {
	position: absolute;
	right: 7.5rem;
	top: 19.26rem;
	max-width: 27rem;
}

.home_about__info__item__info {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	font-size: 1.5rem;
	line-height: 184.523%; /* 2.76781rem */
	margin-bottom: 2.95rem;
}

.home_about__info {
	margin-top: 3.2rem;
}

.home_about__info__item--1 {
	max-width: 39rem;
}

.btn_home_about {
	font-size: 1.2rem;
	padding: 1.25rem 2.325rem;
	font-family: 'Inter';
	font-size: 1.125rem;
}

.home_about__trigger__item {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: Inter, sans-serif;
	padding: 1.03rem 0.904rem;
	border-radius: 0.5rem;
	background-image: url("data:image/svg+xml,%3Csvg width='281' height='105' viewBox='0 0 281 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='280' height='104' rx='7.5' stroke='url(%23paint0_linear_197_1406)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_1406' x1='7.90312' y1='17' x2='248.325' y2='70.562' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239BF2FC' stop-opacity='0.6'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: auto 100%;
	background-position: 0px 0;
	background-repeat: no-repeat;
	padding-right: 7.5rem;
}

.home_about__trigger__item__number {
	color: #b4f8ff;
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 0.4rem;
}

.home_about__trigger__item__text {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	white-space: nowrap;
}

.home_about__trigger__list {
	white-space: nowrap;
	width: fit-content;
}
.home_about__trigger__list__inner {
	display: flex;
	width: calc(100% - 78.75rem);
}

.home_about__trigger {
	padding-bottom: 10.75rem;
}

.home_products__slide__title {
	font-family: Inter, sans-serif;
	font-size: 6.25rem;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 1.05rem;
}

.home_products__slide__content {
	display: flex;
	flex-wrap: wrap;
}

.hp__slide__text {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 19.75rem;
}

.hp__slide__image__block {
	position: relative;
	width: 30.8025rem;
}

.hp__slide__image__inner {
	position: relative;
	width: 100%;
	height: 38.56rem;
}

.hp__slide__image__inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50%;
}

.home_products__slide__info {
	position: relative;
	z-index: 2;
	padding-top: 13.5rem;
	max-width: 60rem;
}
.home_products__slide__text {
	max-width: 64.5rem;
	font-family: Inter, sans-serif;
}
.home_products__slide__text span {
	display: block;
}
.home_products__main {
	margin-top: 4.9rem;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.home_products__slider__info {
	width: 60rem;
	z-index: 2;
	cursor: pointer;
	pointer-events: none;
}

.home_products__slider__image {
	position: absolute;
	right: 0;
	top: 0;
	width: calc(54.95rem + 6.85rem);
	margin-right: -6.85rem;
	overflow: hidden;
}

.home_products {
	padding-bottom: 19.25rem;
}
.home_hero__image--mobile {
	display: none;
}

.hp__slide__image__block.swiper-slide-active {
	z-index: 2;
}

.hp__slide__image__content {
	width: 100%;
}

.hp__slide__image {
	width: 100%;
}

.hp__slide__image__block.swiper-slide-active ~ .hp__slide__image__block {
	z-index: 1;
	transform: matrix(0.89, 0, 0, 0.89, -30, 0);
}

.loaded .hp__slide__image__block {
	transition: 0.45s ease-in-out;
}

.hp__slide__image__block.swiper-slide-next + .hp__slide__image__block {
	transform: matrix(0.79, 0, 0, 0.79, -118, 0);
	z-index: 0;
}

.hp__slide__image__block.swiper-slide-next
	+ .hp__slide__image__block
	+ .hp__slide__image__block {
	transform: matrix(0.65, 0, 0, 0.65, -265, 0);
	z-index: -1;
}

.home_products__slider__info .swiper-slide-active {
	pointer-events: none;
}
.home_products__slide__title span {
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.home_products__slide__title span.show {
	opacity: 1;
}

.home_products__slider__info .swiper-slide.show .home_products__slide__info {
	opacity: 1;
}
.home_products__slider__info .swiper-slide .home_products__slide__info {
	opacity: 0;
}

.home_products__slide__title {
	transform: translate(-5rem, 0);
}

.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__title {
	opacity: 1;
	transform: translate(0, 0rem);
}

.loaded .home_products__slide__title {
	transition: 0.75s ease-in-out;
}

.home_advantage__item__number {
	color: #164b51;
	font-family: Futura;
	font-size: 9.375rem;
	font-weight: 700;
	position: absolute;
	left: -2.65rem;
	z-index: 1;
	line-height: 1;
	top: 4.75rem;
}

.home_advantage__item {
	border-radius: 1.25rem;
	border: 1px solid rgba(0, 0, 0, 0);
	background: rgba(30, 30, 30, 0.5);
	overflow: hidden;
	background-image: url("data:image/svg+xml,%3Csvg width='601' height='201' viewBox='0 0 601 201' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_197_3010)'%3E%3Crect x='0.5' y='0.5' width='600' height='200' rx='19.5' stroke='url(%23paint0_linear_197_3010)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_197_3010' x='-40' y='-40' width='681' height='281' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='20'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_197_3010'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_197_3010' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_197_3010' x1='16.9031' y1='32.5429' x2='525.147' y2='159.051' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239BF2FC' stop-opacity='0.6'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: auto 100%;
	background-position: 0 0;
	position: relative;
	flex: 1 0 calc(50% - 0.44rem);
	background-repeat: no-repeat;
	padding: 4.925rem 4.85rem;
	height: 12.55rem;
	background-position: 0 0;
}

.home_advantage__item__title {
	font-family: Inter, sans-serif;
	font-size: 1.75rem;
	line-height: 150.023%; /* 2.62538rem */
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	right: 50%;
	transform: translate(50%, 0);
	white-space: nowrap;
}

.home_advantage__item__text {
	position: absolute;
	opacity: 0;
	left: 1.7rem;
	bottom: 2rem;
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	line-height: 150.023%;
	right: 5rem;
}

.home_advantage__list {
	margin-top: 3.3rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.88rem;
}

.home_advantage {
	padding-bottom: 10rem;
}

.home_advantage__item:nth-child(2n) {
	background-image: url("data:image/svg+xml,%3Csvg width='601' height='201' viewBox='0 0 601 201' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_197_2994)'%3E%3Crect x='0.5' y='0.5' width='600' height='200' rx='19.5' stroke='url(%23paint0_linear_197_2994)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_197_2994' x='-40' y='-40' width='681' height='281' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='20'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_197_2994'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_197_2994' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_197_2994' x1='16.9031' y1='32.5429' x2='525.147' y2='159.051' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%239BF2FC' stop-opacity='0.6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-position: 100% 0;
}

.home_advantage__item:hover .home_advantage__item__number {
	font-size: 1.5rem;
	font-weight: 500;
	top: 1.65rem;
	left: 2.05rem;
	bottom: auto;
}

.loaded .home_advantage__item__number {
	transition: 0.45s ease-in-out;
	will-change: transform, font-size, font-weight, top, left, bottom;
}

.home_advantage__item:hover .home_advantage__item__title {
	font-size: 1rem;
	transform: translate(-1.65rem, -3.25rem);
	right: 0;
}

.loaded .home_advantage__item__title {
	transition: 0.45s ease-in-out;
	will-change: transform, right, font-size;
}

.loaded .home_advantage__item__text {
	transition: 0.45s ease-in-out 0s;
}

.home_advantage__item:hover .home_advantage__item__text {
	opacity: 1;
	transition-delay: 0.2s;
}

.text_x {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	font-size: 1.5rem;
	line-height: 184.523%; /* 2.76781rem */
}

.title_x.title_x--home_portfolio {
	margin-bottom: 2.6rem;
}

.text_x.text_x--home_portfolio {
	max-width: 64rem;
}

.home_portfolio__item {
	position: relative;
	margin: 0 -6.825rem;
}

.home_portfolio__item__title {
	color: #dbdbdb;
	font-family: Inter, sans-serif;
	font-size: 2.25rem;
	line-height: 1.35;
	padding-right: 35rem;
	position: relative;
	z-index: 5;
}

.home_portfolio__item__image {
	position: absolute;
	opacity: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='300' height='272' viewBox='0 0 300 272' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.555556' y='0.555556' width='298.889' height='270.889' rx='21.6667' stroke='url(%23paint0_linear_197_2971)' stroke-width='1.11111'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_2971' x1='8.4375' y1='44.0381' x2='275.603' y2='68.5682' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239BF2FC' stop-opacity='0.6'/%3E%3Cstop offset='1' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-radius: 1.38888rem;
	overflow: hidden;
	left: 67.5%;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 2;
	width: 18.75rem;
	padding: 0.1rem;
	font-size: 0;
	height: 17rem;
	pointer-events: none;
}
.home_portfolio__item__title a:hover {
	opacity: 0.7;
}

.home_portfolio__item__dot {
	width: 0.75rem;
	height: 0.75rem;
	display: block;
	border-radius: 50%;
	position: absolute;
	right: 0.15rem;
	top: 50%;
	transform: translate(0, -50%);
	background: rgba(88, 252, 253, 0.5);
}

.home_portfolio__item__inner {
	position: relative;
	padding: 2rem 0 2.5rem;
}

.home_portfolio__list {
	margin-top: 1.1rem;
}

.loaded .home_portfolio__item:before {
	transition: 0.375s ease;
}
.home_portfolio__item:hover {
	z-index: 2;
}
.home_portfolio__item:hover:before {
	height: 100%;
}
.home_portfolio__item:before {
	background: #0e2c30;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
}

.loaded .home_portfolio__item__dot {
	transition: 0.45s ease-in-out;
}

.loaded .home_portfolio__item {
	transition: 0.45s ease-in-out;
}

.home_portfolio__item:hover .home_portfolio__item__image {
	opacity: 1;
	left: 70%;
	pointer-events: all;
}

.loaded .home_portfolio__item__image {
	transition: 0.4s ease-in-out;
}

.home_portfolio__item:hover .home_portfolio__item__dot {
	right: 38%;
	box-shadow: 0 0 0.4rem -0.025rem #58fcfd;
	background: #58fcfd;
}

.home_portfolio__item__image img {
	border-radius: 1.38888rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home_portfolio {
	padding-bottom: 8.15rem;
}

.home_sertificate__main {
	padding-top: 2.55rem;
}

.sertificate__slide__item__content {
	font-size: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='290' height='406' viewBox='0 0 290 406' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='288' height='404' rx='7' stroke='url(%23paint0_linear_197_3015)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_3015' x1='8.15625' y1='65.7334' x2='267.676' y2='81.1649' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239BF2FC' stop-opacity='0.6'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	padding: 0.125rem;
	overflow: hidden;
	border-radius: 0.5rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	position: relative;
	width: 100%;
}

.sertificate__slide__item__content img {
	border-radius: 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sertificate__slide__item__content__inner {
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	width: 100%;
	padding-top: 141.25%;
}
.sertificate__slide__item__content__inner:after {
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='99' viewBox='0 0 80 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.6183 74.4359C61.0356 82.477 53.0165 87.8248 49.1431 90.4069L48.7172 90.7149C47.4239 91.5773 44.2572 93.5419 41.7509 93.9119C41.5417 93.9161 41.3397 93.9393 41.2198 93.9689L41.0185 93.9941C40.9513 94.0037 40.8829 94.0161 40.8146 94.0161H39.2427C38.9752 94.0161 38.7452 94.0161 38.5712 93.9519L38.3588 93.8991C35.978 93.5832 32.7605 92.0655 30.8127 90.7288C28.0007 88.7989 19.4426 82.926 11.3242 74.3176C4.25048 66.8152 4.27911 61.9241 4.30015 58.3414V56.3128H28.1923V66.504H51.1043V43.4608H31.2223V33.2696C31.2223 29.4146 35.3561 25.8997 39.8949 25.8953C39.8982 25.8953 39.9004 25.8953 39.9033 25.8953C42.1024 25.8953 44.3889 26.729 46.1775 28.1827C47.9439 29.6199 48.958 31.474 48.958 33.2696V34.2835H75.6066C75.6278 38.655 75.61 51.961 75.6003 57.8727V58.4596C75.6162 62.2618 75.6352 66.9942 68.6183 74.4359ZM9.1021 12.6588C22.1739 4.57337 39.852 4.47144 40.0287 4.47144C40.2014 4.47144 57.4479 4.57379 70.9392 12.6485C75.7833 15.7716 75.6499 23.0821 75.5856 26.614L75.589 27.8545C75.5919 29.0167 75.5975 30.7698 75.5994 32.2566H50.8679C50.5648 30.1846 49.3432 28.1662 47.4135 26.5975C45.5467 25.0798 43.2178 24.1288 40.8964 23.9149C40.5649 23.884 40.2331 23.8686 39.9033 23.8686C39.9004 23.8686 39.8961 23.8686 39.8927 23.8686C34.2166 23.8745 29.2379 28.2672 29.2379 33.2696V45.4881H49.12V64.4767H30.1764V54.286H4.30015V28.5818C4.30015 28.1354 4.29805 27.6289 4.27574 27.0938C4.17262 22.9603 3.99922 16.0421 9.1021 12.6588ZM77.5847 58.2237L77.5859 57.8759C77.595 51.3894 77.6162 36.005 77.5847 33.2582C77.5847 31.6334 77.5784 29.2877 77.5741 27.8486L77.57 26.633C77.6415 22.7491 77.7888 14.668 71.9716 10.9174C57.9761 2.54103 40.7546 2.44415 40.0287 2.44415C39.2838 2.44415 21.6289 2.54103 8.04659 10.9422C1.98627 14.9598 2.17777 22.5879 2.2914 27.1619C2.3137 27.6829 2.3158 28.161 2.3158 28.5818V54.286L2.31454 57.946L2.3158 58.3409C2.29266 62.2595 2.2611 67.6268 9.89333 75.723C18.159 84.4868 26.8496 90.4511 29.706 92.411C31.7555 93.8181 35.2107 95.4964 38.0054 95.8955C38.464 96.0434 38.8933 96.0434 39.2427 96.0434H40.8146C40.9735 96.0434 41.13 96.0244 41.2869 96.0022L41.5195 95.9696C41.6226 95.9481 41.7227 95.9378 41.8258 95.9378L41.9591 95.9289C45.0377 95.5029 48.697 93.1739 50.0881 92.2178L50.7025 91.8113L50.7016 91.7886C54.7673 89.0731 62.597 83.7437 70.0492 75.8412C77.6237 67.8082 77.6015 62.3997 77.5859 58.4512L77.5847 58.2237Z' fill='%2377ABB1'/%3E%3Cpath d='M39.6091 56.8297C40.3894 56.8297 41.0221 56.1856 41.0221 55.3908C41.0221 54.5963 40.3894 53.9521 39.6091 53.9521C38.829 53.9521 38.1963 54.5963 38.1963 55.3908C38.1963 56.1856 38.829 56.8297 39.6091 56.8297Z' fill='%2377ABB1'/%3E%3C/svg%3E%0A");
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: 5rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 2;
}

.sertificate__slide__item__content__inner:before {
	z-index: 1;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
}

.sertificate__slide__item__content:hover
	.sertificate__slide__item__content__inner:before {
	opacity: 0;
}

.loaded .sertificate__slide__item__content__inner:before,
.loaded .sertificate__slide__item__content__inner:after {
	transition: 0.45s ease-in-out;
}

.sertificate__slide__item__content:hover
	.sertificate__slide__item__content__inner:after {
	opacity: 0;
}

.home_sertificate__main__bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.home_sertificate__main__slider {
	overflow: hidden;
	margin: 0 -0.6rem 2.75rem;
}

.home_sertificate__main__slider .sertificate__slide__item {
	padding: 0 0.6rem 0.4rem;
	box-sizing: border-box;
}

.btn_home_sertificate__main {
	width: 100%;
	max-width: 18.15rem;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	padding: 1.12rem;
}

.dots_x > * {
	margin: 0 !important;
	opacity: 1;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	background: transparent;
}
.loaded .dots_x > *:before {
	transition: 0.25s;
}
.dots_x > *:before {
	background: #58fcfd;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	width: 50%;
	height: 50%;
	bottom: 0;
	top: 0;
	margin: auto;
	border-radius: 50%;
}

.dots_x {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.dots_x > .swiper-pagination-bullet-active:before {
	transform: scale(1.75);
	box-shadow: 0 0 5px 0px #58fcfd;
}

.companies_block__marque {
	--gap: 1.87rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.companies_block__marque__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	animation: scroll 45s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

.home_portfolio__item__title a {
	color: inherit;
	text-decoration: none;
}

.home_sertificate {
	padding-bottom: 6rem;
}

.companies_block__marque__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	left: 0;
	top: 0;
}
.companies_block__marque__item {
	position: relative;
	width: 12.5rem;
	height: 6.25rem;
}

.companies_block {
	padding: 5rem 0 4.6rem;
}

.home_hero__bg {
    position: absolute;
    top: -20rem;
    left: calc(50% + 22rem);
    width: 90rem;
    height: 90rem;
    transform: translate(-50%,0);
    border-radius: 20.3125rem;
    background-position: 0 0;
    z-index: -1;
	pointer-events: none;
}
.home_hero__bg img{width: 100%;height: 100%;object-fit: contain;}

.home_hero__image img {
	position: relative;
}


.home_products__main {
	position: relative;
}

.home_products__main:after {
	content: "";
    position: absolute;
    top: 57.5%;
    left: 125%;
    width: 65rem;
    height: 65rem;
    background-image: url(../images/pages/home/bg/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translate(-50%,-45%);
    z-index: -1;
    pointer-events: none;

}

.home_advantage{position: relative;}

.home_advantage:before {
    content: "";
    position: absolute;
    top: 47.5%;
    left: 0;
    width: 60rem;
    height: 60rem;
    background-image: url(../images/pages/home/bg/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(0%,-45%);
    z-index: -1;
    pointer-events: none;
    background-position: 0 0;
}
.home_advantage:after {
	content: "";
    position: absolute;
    top: 72.5%;
    right: 0;
    width: 40rem;
    height: 40rem;
    background-image: url(../images/pages/home/bg/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(0,-45%);
    z-index: -1;
    pointer-events: none;
    background-position: 100% 0;
    opacity: 0.75;

}

.home_advantage__list {
	position: relative;
}

.home_portfolio__list {
	position: relative;
}

.home_portfolio {
    position: relative;
}
.home_portfolio:before {
	content: "";
    position: absolute;
    top: 45%;
    left: 0;
    width: 27.5rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
    z-index: -1;
    background-image: url(../images/pages/home/bg/2.png);
    background-size: contain;
    transform: translate(0,-50%);
    height: 85rem;


}
.hp__slide__image__block.swiper-slide-active ~ .hp__slide__image__block {
	cursor: pointer;
}

.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__text
	span {
	opacity: 1;
	transform: translate(0, 0);
}

.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__text
	span {
	transition-delay: 0.4s;
}
.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__text
	span
	+ span {
	transition-delay: 0.6s;
}

.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__text
	span
	+ span
	+ span {
	transition-delay: 0.8s;
}

.home_products__slide__text span {
	transition-delay: 0s;
	display: block;
	transition: 0.75s ease-in-out;
	opacity: 0;
	transform: translate(-1rem, 0);
}
.home_products__slide__text {
	opacity: 0;
	transition: 0.75s ease-in-out;
}

.home_products__slider__info__slide.swiper-slide-active
	.home_products__slide__text {
	opacity: 1;
}

.home_products__slide__text span + span {
	transition-delay: 0.1s;
}

.home_products__slide__text span + span + span {
	transition-delay: 0.2s;
}

.swiper-slide.hp__slide__image__block.swiper-slide-prev {
	opacity: 0;
	z-index: 2;
}

.glitch_title_home {
	position: absolute;
	left: -2.275rem;
	top: 0;
	width: 40.4rem;
	opacity: 0;
}
.glitch_title_home.show {
	opacity: 1;
}
.glitch__line path {
	opacity: 0;
}

.glitch_title_line {
	position: absolute;
}

.home_hero__title {
	max-width: 42.5rem;
	position: relative;
}

.glitch_title_home svg {
	width: 100%;
	height: auto;
}
.glitch__line {
	opacity: 0;
}
.glitch__line.show {
	opacity: 1;
}
.glitch__line.show path {
	animation: 1.5s glitch infinite;
}
.glitch__line path:nth-child(3n) {
	animation: 2s glitch infinite;
}
.glitch__line path:nth-child(2n) {
	animation: 1.5s glitch infinite;
}
.glitch__line path:nth-child(5n) {
	animation: 0.75s glitch infinite;
}
.home_about__trigger__list__inner--mobile {
	display: none;
}

.hp__slide__image__block {
	pointer-events: none;
}

.hp__slide__image__block.swiper-slide-next,
.hp__slide__image__block.swiper-slide-active {
	pointer-events: all;
}
@keyframes glitch {
	10% {
		transform: translate(0.2%, 0.25%);
		opacity: 1;
	}
	20% {
		transform: translate(0%, 0%);
		opacity: 0;
	}
	30% {
		transform: translate(-0.2%, -0.25%);
		opacity: 1;
	}
	40% {
		transform: translate(0%, -0.5%);
		opacity: 1;
	}
	50% {
		transform: translate(0%, 0.5%);
		opacity: 0;
	}
	100% {
		transform: translate(0%, 0.5%);
		opacity: 0;
	}
}

@media screen and (min-width: 1650px) {
	.home_portfolio__list {
		margin: 1.1rem calc(-1 * (100vw - 1440px) / 2);
	}
	.home_products__slider__image {
		margin-right: -530px;
		width: calc(61.8rem + 370px);
	}
}


@media screen and (max-width: 1024px) {
	.home_hero__bg {
		top: -23.5rem;
		left: auto;
		right: -25rem;
		transform: translate(0,0);
		width: 85rem;
		height: 85rem;
	}
	.home_about__trigger__list__inner--mobile {
		display: block;
	}
	.home_about__trigger__list__inner--desktop {
		display: none;
	}
	.home_products__slider__info {
		max-width: 525px;
	}
	.home_about__trigger__item {
		width: 230px;
		margin: 0 20px;
	}

	.home_about__trigger__list__inner {
		width: 100%;
	}
	.home_about__trigger .container {
		padding: 0;
		max-width: 100%;
	}

	.home_about__trigger__list {
		white-space: initial;
		width: auto;
	}
	.home_about__trigger__list__inner {
		width: calc(100% - 100vw);
	}
	.home_hero__title {
		font-size: 38px;
	}

	.home_hero__image {
		width: 27.5rem;
		top: 8rem;
	}

	.home_about__info__item--1 {
		max-width: 29rem;
	}

	.home_about__info__item__info {
		line-height: 1.55;
		font-size: 1.35rem;
	}

	.home_about__info__item--3 {
		right: 5rem;
		top: 18.5rem;
	}

	.home_hero__content {
		padding-bottom: 5rem;
		padding-top: 25rem;
	}

	.home_about {
		padding: 4rem 0 9rem;
	}

	.home_about__image__decore {
		right: 3rem;
		max-width: 45rem;
		top: 3rem;
	}

	.home_about__info__item__glow {
		padding: 1.5rem 1.35rem 1.7rem;
		line-height: 1.55;
	}

	.home_about__trigger {
		padding-bottom: 7.5rem;
	}

	.home_products__slider__image {
		margin-right: -125px;
		width: 52.5rem;
	}

	.hp__slide__image__block {
		width: 30rem;
	}

	.hp__slide__image__inner {
		height: 37rem;
	}

	.home_products__slide__title {
		font-size: 4.25rem;
		margin-bottom: 2rem;
	}

	.home_products__slide__text {
		font-size: 1.05rem;
		line-height: 1.6;
	}

	.home_products {
		padding-bottom: 17.5rem;
	}

	.home_products__slide__info {
		padding-top: 10rem;
	}

	.home_advantage__item__title {
		font-size: 1.45rem;
		top: 50%;
		transform: translate(50%, -50%);
	}

	.home_advantage__item {
		height: 15rem;
		padding: 0;
	}

	.home_advantage__item__number {
		font-size: 8rem;
		top: 8.5rem;
		left: -2.5rem;
	}

	.home_advantage__item:hover .home_advantage__item__number {
		font-size: 2.5rem;
		left: 1.55rem;
	}

	.home_advantage__item__text {
		max-width: 41.5rem;
		line-height: 1.6;
		right: 1.7rem;
		font-size: 0.95rem;
	}

	.home_portfolio__item {
		margin: 0 -60px;
	}

	.home_portfolio__item__title {
		font-size: 1.75rem;
	}

	.home_portfolio__list {
		margin-top: 20px;
	}

	.home_advantage__item:hover .home_advantage__item__title {
		top: 0;
		transform: translate(-1.65rem, 1.65rem);
	}

	.home_advantage {
		padding-bottom: 7rem;
	}

	.text_x {
		font-size: 1.25rem;
		line-height: 1.65;
	}

	.title_x.title_x--home_portfolio {
		margin-bottom: 2.25rem;
	}
	.home_portfolio {
		padding-bottom: 5.25rem;
	}

	.home_sertificate {
		padding-bottom: 4rem;
	}

	.companies_block {
		padding: 4.5rem 0 5.25rem;
	}
	.home_portfolio__item:hover .home_portfolio__item__dot {
		right: 37.5%;
	}

	.home_portfolio__item__title {
		padding-right: 365px;
	}
	.home_about__trigger__list__inner--mobile__inner {
		white-space: nowrap;
	}

	.home_about__trigger__item {
		width: auto;
		padding-right: 0px;
		min-width: 175px;
	}

	.home_about__trigger__list__inner {
		width: 100%;
		overflow: scroll;
	}
	.home_about__trigger__list__inner::-webkit-scrollbar {
		display: none;
	}

	.home_about__trigger__list__inner {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@media screen and (max-width: 750px) {
	.home_advantage:before {
		height: 85rem;
		left: -12.5rem;
	}

	.home_advantage:after {
		right: -12.5rem;
		height: 75rem;
		top: 85%;
	}

	.home_portfolio:before {
		top: 60%;
		height: 65rem;
		opacity: 0.75;
	}
	.home_products__main:after {
		width: 45rem;
		height: 45rem;
		top: 50%;
		right: -20px;
		left: auto;
		transform: translate(0%,-45%);
		background-position: 100% 50%;
	}
	.home_hero__bg {
		top: -15rem;
		left: auto;
		right: -17rem;
		transform: translate(0,0);
		width: 70rem;
		height: 70rem;
	}
	.swiper-slide.hp__slide__image__block.swiper-slide-prev {
		opacity: 1;
		// transform: matrix(1.25,0,0,1.25,-35,0);
	}
	.home_portfolio__item {
		margin: 0 calc(-1 * ((100vw - 620px) / 2));
	}
	.home_portfolio__item__title {
		padding-right: 250px;
	}
	.home_about__trigger {
		padding-bottom: 6.5rem;
	}
	.home_sertificate__main {
		padding-top: 28px;
	}

	.home_about__trigger__list {
		margin: 0;
		padding: 0;
	}

	.home_hero__title {
		font-size: 28px;
		line-height: 1.25;
		max-width: 340px;
	}

	.home_hero__image {
		width: 44vw;
		min-width: 285px;
	}

	.home_hero__content {
		padding: 37vw 0 60px;
	}

	.home_about__info__item--2 {
		position: static;
	}

	.home_about__info__item--3,
	.home_about__info__item--2 {
		position: static;
		max-width: 550px;
	}

	.home_about__info {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	.home_about__info__item__glow {
		line-height: 1.45;
		font-size: 12px;
	}

	.home_about__info__item--1 {
		max-width: 500px;
	}

	.home_about__image__decore {
		top: auto;
		bottom: -60px;
		right: -130px;
		width: 55rem;
		max-width: none;
	}

	.home_about {
		padding: 40px 0 105px;
	}

	.hp__slide__image__inner {
		height: 35rem;
	}

	.home_products__slider__image {
		max-width: 52.5rem;
		width: 75%;
	}

	.home_products__slide__title {
		font-size: 3.75rem;
		margin-bottom: 1rem;
	}

	.home_advantage__item {
		flex: none;
		width: 100%;
	}

	.home_advantage__item__title {
		font-size: 1.55rem;
	}

	.home_advantage__item:hover .home_advantage__item__title {
		font-size: 1.15rem;
		top: 0.25rem;
	}

	.home_advantage__item__number {
		font-size: 7rem;
		left: -25px;
		top: 9.25rem;
	}

	.home_advantage__item__title {
		font-size: 1.45rem;
	}

	.home_about__trigger {
		padding-bottom: 5.5rem;
	}

	.home_products__main {
		margin-top: 4.25rem;
	}

	.home_products__slide__title {
		font-size: 2.5rem;
	}

	.home_products__slider__info {
		width: 100%;
	}

	.home_products__slide__info {
		padding: 7.5rem 0px 0px;
	}

	.home_products__slide__text {
		font-size: 0.95rem;
		max-width: 310px;
	}

	.home_products__slider__image {
		width: 91.5%;
	}

	.hp__slide__image__block {
		width: 50vw;
	}

	.hp__slide__image__inner {
		height: 27.5rem;
	}

	.home_products {
		padding-bottom: 12.5rem;
	}

	.title_x.title_x--home_advantage {
		max-width: 300px;
	}

	.companies_block__marque__group {
		animation: scroll 40s linear infinite;
	}

	.companies_block__marque__item {
		width: 11.5rem;
		height: 5.75rem;
	}

	.companies_block {
		padding: 3rem 0 4.5rem;
	}

	.home_sertificate__main__slider .sertificate__slide__item {
		padding: 5px;
	}

	.home_portfolio {
		padding-bottom: 45px;
	}
	.home_hero__title__small__text {
		top: 53%;
		right: 20.5%;
		font-size: 5.45px;
	}
}

@media screen and (max-width: 650px) {
	.home_portfolio__item {
		margin: 0 -15px;
	}
}

@media screen and (max-width: 550px) {
	.home_hero__bg {display: none;}
	.home_hero__title__small__text {
		right: 6.95%;
		font-size: 5.5px;
	}

	.hp__slide__image__block.swiper-slide-active ~ .hp__slide__image__block {
		transform: scale(0.89) translate(-7.5%, 0px);
	}
	.home_about__info__item--2 {
		margin-left: 20px;
	}

	.home_about__info__item--3 {
		margin-left: 0;
		margin-right: 25px;
	}

	.home_about__info__item__glow {
		padding: 20px 15px;
	}
	.home_hero__title {
		font-size: 22px;
	}

	.home_hero__content {
		padding: 0;
		height: 100%;
		position: relative;
	}

	.home_hero {
		height: 420px;
	}

	.home_hero .container {
		height: 100vh;
		display: block;
	}

	.home_hero__info {
		position: absolute;
		top: 290px;
	}

	.home_hero__image {
		right: -90px;
		top: 60px;
	}
	.home_portfolio__item__title {
		font-size: 15px;
		line-height: 1.45;
		padding-right: 220px;
	}

	.home_portfolio__item__inner {
		padding: 14px 0 17px;
	}

	.home_portfolio__item__image {
		width: 175px;
		height: 120px;
		padding: 1px;
		background: transparent;
		right: -5px;
		left: auto;
	}

	.home_portfolio__item__image:before {
		background: rgb(155, 242, 252);
		background: linear-gradient(
			90deg,
			rgb(40 109 119) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		content: '';
	}

	.home_portfolio__item__image img {
		position: relative;
		z-index: 1;
	}

	.home_portfolio__list {
		margin-top: 44px;
	}

	.home_portfolio__item:hover .home_portfolio__item__dot {
		right: 192px;
	}
}

@media screen and (max-width: 550px) {
	.text_x {
		font-size: 1.1rem;
	}
	.home_about {
		padding-bottom: 75px;
	}
	.home_about__image__decore {
		width: 45rem;
		bottom: 0px;
	}

	.home_about__info {
		gap: 15px;
		margin-top: 15px;
	}

	.home_about__info__item--1 {
		margin-bottom: 20px;
	}

	.home_about__info__item__info {
		font-size: 1.1rem;
		margin-bottom: 20px;
	}
	.home_portfolio__item__title {
		padding-right: 0;
		max-width: 305px;
	}

	.home_portfolio__item__dot {
		display: none;
	}

	.home_portfolio__item {
		position: relative;
		z-index: 0;
	}

	.home_portfolio__item__image {
		z-index: 5;
		left: auto;
		right: auto;
		right: -5px;
		width: auto;
		border-radius: 10px;
		height: 100px;
		transform: translate(0px, -50%) scale(1);
		width: 100px;
	}

	.home_portfolio__item__image img {
		border-radius: 10px;
	}

	.home_portfolio__item:hover .home_portfolio__item__image {
		transform: translate(0, -50%) scale(1);
		left: auto;
		right: 0;
		width: 100px;
	}

	.home_sertificate__main__bottom {
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 25px;
	}

	.sertificate__slide__item__content__inner:after {
		background-size: 55px;
	}

	.home_portfolio__list:before {
		display: none;
	}
	.home_sertificate__main__dots {
		display: none;
	}
	.home_sertificate__main__slider {
		margin-bottom: 2rem;
	}
	.home_sertificate__main__slider {
		margin-bottom: 2rem;
	}

	.home_sertificate__main__slider {
		margin: 0 -15px;
	}

	.home_sertificate__main__slider .sertificate__slide__item {
		padding: 0 0 20px 15px;
		max-width: 75vw;
	}

	.home_hero__image--mobile {
		display: block;
		left: -25px;
		transform: translate(15px, 0px);
		width: 100vw;
		height: auto;
		position: relative;
		max-height: 97.5vw;
	}

	.home_hero__image--desktop {
		display: none;
	}

	.home_hero__image--mobile img {
		width: 175vw;
		object-fit: cover;
		max-width: none;
		left: 50%;
		transform: translate(-50%, 0);
		top: -47.5vw;
	}

	.home_hero__image:before {
		display: none;
	}

	.home_hero__info {
		position: relative;
		top: 0;
	}

	.home_hero__content {
		height: auto;
	}

	.home_hero {
		height: auto;
		margin-bottom: 20px;
	}

	.home_hero .container {
		height: auto;
	}

	.home_hero__title {
		font-size: 26px;
		width: calc(100vw - 30px);
		margin: 0 auto;
		max-width: 400px;
	}

	.home_hero__title svg {
		margin-right: 0;
	}

	.home_products__slide__title {
		font-size: 27px;
	}

	.title_x {
		font-size: 26px;
	}

	.home_about__info__item__info {
		font-size: 13.5px;
	}

	.text_x {
		font-size: 13.5px;
	}

	.home_advantage__item__text {
		font-size: 11px;
	}
}

@media screen and (max-width: 420px) {
	.home_products {
		padding-bottom: 8rem;
	}
	.home_products__slider__image {
		width: 97.5%;
		margin-right: -80px;
	}
	.hp__slide__image__inner {
		height: 80vw;
		padding: 0;
	}
}
