.page__container--search {
	padding: 3.2rem 0 0;
}

.page_search__block__title {
	font-family: Inter,sans-serif;
	font-size: 1.625rem;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.1625rem;
	margin-bottom: 1.85rem;
}

.page_search__list {
	margin-top: 3.05rem;
	display: flex;
	flex-direction: column;
	gap: 3.1rem;
	margin-bottom: 4.15rem;
}

.page_search__block__section a {
	font-family: Inter,sans-serif;
	font-size: 1.125rem;
	color: inherit;
	line-height: normal;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 2.3rem;
}

.page_search__block__section ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.page_search__block__section img {
	width: 5.75rem;
	object-fit: cover;
	height: 5rem;
	border-radius: 0.5rem;
}

.companies_block.companies_block--search {
	padding-top: 8.8rem;
}

.pagination {
	padding: 2.5rem 0;
}

.pagination ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1.1rem;
}

.pagination a {
	color: inherit;
	text-decoration: none;
	line-height: 1;
	padding: 0.45rem 0.775rem;
	font-family: Inter,sans-serif;
	font-size: 1rem;
}

.pagination .active a {
	font-weight: bold;
	font-size: 1.25rem;
}

.pagintaion--arrow {
	font-size: 0;
}

.pagintaion--arrow:hover path {
	fill: #00d2e2;
}

.loaded .pagintaion--arrow path {
	transition: 0.25s;
}
.pagination a:hover,
.page_search__block__section a:hover {
	color: #00d2e2;
}

@media screen and (max-width: 1024px) {
	.page__container--search {
		padding: 5rem 0 0.25rem;
	}

	.page_search__list {
		margin-bottom: 3.25rem;
	}

	.companies_block.companies_block--search {
		padding-top: 3rem;
	}
}

@media screen and (max-width: 550px) {
	.pagination {
		padding: 1.75rem 0 1rem;
	}

	.page_search__block__section ul {
		line-height: 1.5;
		gap: 14px;
	}

	.modal__search__result__block__list ul {
		gap: 15px;
	}

	.page_search__list {
		gap: 40px;
		margin-top: 32px;
		margin-bottom: 30px;
	}

	.page__container--search {
		padding: 36px 0 0;
	}

	.page_search__block__section a {
		gap: 1.75rem;
		line-height: 1.5;
	}

	.page_search__block__title {
		margin-bottom: 22px;
		letter-spacing: 0;
	}

	.pagination a {
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		font-size: 16px;
	}

	.pagination .active a {
		font-size: 20px;
	}

	.companies_block.companies_block--search {
		padding-top: 25px;
		padding-bottom: 44px;
	}
}
